Transportation by Distance Vs Accidents
----

In [69]:
import pandas as pd
import numpy as np
import psycopg2
import sqlalchemy 
from sqlalchemy import create_engine

from config import username, password

Travel by Distance CSV
----

In [70]:
csv_file = "Resources/Trips_by_Distance.csv"
travel_distance_df = pd.read_csv(csv_file)
travel_distance_df.head()

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
0,National,2019/01/01,NaN,NaN,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,...,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101,0,1
1,National,2019/01/02,NaN,NaN,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,...,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102,0,1
2,National,2019/01/03,NaN,NaN,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,...,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103,0,1
3,National,2019/01/04,NaN,NaN,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,...,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104,0,1
4,National,2019/01/05,NaN,NaN,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,...,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105,0,1

In [71]:
travel_distance_df_cleaned = travel_distance_df.drop(['State FIPS', 'County FIPS',  'Row ID'], axis=1)
travel_distance_df_cleaned.head()

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,National,2019/01/01,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,234284795.0,108078903.0,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,0,1
1,National,2019/01/02,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,285887315.0,138039296.0,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,0,1
2,National,2019/01/03,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,290074425.0,140771581.0,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,0,1
3,National,2019/01/04,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,295643296.0,145251819.0,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,0,1
4,National,2019/01/05,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,304168709.0,148540651.0,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,0,1

In [72]:
travel_distance_df_cleaned2 = travel_distance_df_cleaned.fillna(0)
travel_distance_df_cleaned2.head()

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,National,2019/01/01,0,0,77433867.0,248733553.0,8.977844e+08,241667151.0,234284795.0,108078903.0,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,0,1
1,National,2019/01/02,0,0,61305201.0,264862219.0,1.139452e+09,291276735.0,285887315.0,138039296.0,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,0,1
2,National,2019/01/03,0,0,63050480.0,263116940.0,1.162753e+09,296375014.0,290074425.0,140771581.0,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,0,1
3,National,2019/01/04,0,0,61803652.0,264363768.0,1.181954e+09,293159631.0,295643296.0,145251819.0,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,0,1
4,National,2019/01/05,0,0,64389745.0,261777675.0,1.180477e+09,295459014.0,304168709.0,148540651.0,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,0,1

National Travel Table
----

National Travel Table - Population Staying at Home vs Not

In [73]:
National_Travel_df = travel_distance_df_cleaned2.loc[travel_distance_df_cleaned2['Level'] == 'National']
National_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,National,2019/01/01,0,0,77433867.0,248733553.0,8.977844e+08,241667151.0,234284795.0,108078903.0,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,0,1
1,National,2019/01/02,0,0,61305201.0,264862219.0,1.139452e+09,291276735.0,285887315.0,138039296.0,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,0,1
2,National,2019/01/03,0,0,63050480.0,263116940.0,1.162753e+09,296375014.0,290074425.0,140771581.0,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,0,1
3,National,2019/01/04,0,0,61803652.0,264363768.0,1.181954e+09,293159631.0,295643296.0,145251819.0,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,0,1
4,National,2019/01/05,0,0,64389745.0,261777675.0,1.180477e+09,295459014.0,304168709.0,148540651.0,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369665,National,2021/11/16,0,0,70666095.0,257573428.0,1.422332e+09,422971622.0,347569809.0,163055860.0,204335363.0,193540842.0,60770560.0,19271631.0,7869865.0,1718347.0,1228392.0,46,11
3369666,National,2021/11/17,0,0,70574570.0,257664953.0,1.479584e+09,445753387.0,366818268.0,168524802.0,208627236.0,197022938.0,61932963.0,19783029.0,8117723.0,1753566.0,1249879.0,46,11
3369667,National,2021/11/18,0,0,73652360.0,254587163.0,1.292774e+09,371718902.0,313351056.0,149167497.0,189716076.0,182150488.0,57863078.0,18482503.0,7544739.0,1618055.0,1161865.0,46,11
3369668,National,2021/11/19,0,0,69922037.0,258317486.0,1.455510e+09,431065435.0,354953324.0,166412148.0,207986642.0,196890342.0,62422373.0,21719535.0,10593977.0,2149691.0,1316162.0,46,11
3369669,National,2021/11/20,0,0,71570761.0,256668762.0,1.313031e+09,382700511.0,322267131.0,151982036.0,187261840.0,172561339.0,58442081.0,24139924.0,10658687.0,1830338.0,1186846.0,46,11

In [74]:
National_Travel_Home_df = National_Travel_df.drop(['State Postal Code', 'County Name','Number of Trips','Number of Trips <1','Number of Trips 1-3','Number of Trips 3-5','Number of Trips 5-10','Number of Trips 10-25',
                                                   'Number of Trips 25-50','Number of Trips 50-100','Number of Trips 100-250','Number of Trips 250-500', 
                                                   'Number of Trips >=500', 'Week', 'Month'], axis=1)
National_Travel_Home_df

,Level,Date,Population Staying at Home,Population Not Staying at Home
0,National,2019/01/01,77433867.0,248733553.0
1,National,2019/01/02,61305201.0,264862219.0
2,National,2019/01/03,63050480.0,263116940.0
3,National,2019/01/04,61803652.0,264363768.0
4,National,2019/01/05,64389745.0,261777675.0
...,...,...,...,...
3369665,National,2021/11/16,70666095.0,257573428.0
3369666,National,2021/11/17,70574570.0,257664953.0
3369667,National,2021/11/18,73652360.0,254587163.0
3369668,National,2021/11/19,69922037.0,258317486.0
3369669,National,2021/11/20,71570761.0,256668762.0

In [75]:
Filter_National_Home_df = National_Travel_Home_df[(National_Travel_Home_df['Date'] > '2019-01-01') & (National_Travel_Home_df['Date'] < '2021-01-01')]
Filter_National_Home_df

,Level,Date,Population Staying at Home,Population Not Staying at Home
0,National,2019/01/01,77433867.0,248733553.0
1,National,2019/01/02,61305201.0,264862219.0
2,National,2019/01/03,63050480.0,263116940.0
3,National,2019/01/04,61803652.0,264363768.0
4,National,2019/01/05,64389745.0,261777675.0
...,...,...,...,...
726,National,2020/12/27,103056355.0,224111079.0
727,National,2020/12/28,94464436.0,232702998.0
728,National,2020/12/29,93195518.0,233971916.0
729,National,2020/12/30,92339735.0,234827699.0
730,National,2020/12/31,91123825.0,236043609.0

National Travel Table - Trips (in Miles)

In [80]:
National_Travel_Trips_df = National_Travel_df.drop(['State Postal Code', 'County Name','Population Staying at Home', 'Population Not Staying at Home'], axis=1)
National_Travel_Trips_df

,Level,Date,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,National,2019/01/01,8.977844e+08,241667151.0,234284795.0,108078903.0,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,0,1
1,National,2019/01/02,1.139452e+09,291276735.0,285887315.0,138039296.0,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,0,1
2,National,2019/01/03,1.162753e+09,296375014.0,290074425.0,140771581.0,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,0,1
3,National,2019/01/04,1.181954e+09,293159631.0,295643296.0,145251819.0,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,0,1
4,National,2019/01/05,1.180477e+09,295459014.0,304168709.0,148540651.0,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369665,National,2021/11/16,1.422332e+09,422971622.0,347569809.0,163055860.0,204335363.0,193540842.0,60770560.0,19271631.0,7869865.0,1718347.0,1228392.0,46,11
3369666,National,2021/11/17,1.479584e+09,445753387.0,366818268.0,168524802.0,208627236.0,197022938.0,61932963.0,19783029.0,8117723.0,1753566.0,1249879.0,46,11
3369667,National,2021/11/18,1.292774e+09,371718902.0,313351056.0,149167497.0,189716076.0,182150488.0,57863078.0,18482503.0,7544739.0,1618055.0,1161865.0,46,11
3369668,National,2021/11/19,1.455510e+09,431065435.0,354953324.0,166412148.0,207986642.0,196890342.0,62422373.0,21719535.0,10593977.0,2149691.0,1316162.0,46,11
3369669,National,2021/11/20,1.313031e+09,382700511.0,322267131.0,151982036.0,187261840.0,172561339.0,58442081.0,24139924.0,10658687.0,1830338.0,1186846.0,46,11

In [81]:
Filter_National_Trips_df = National_Travel_Trips_df[(National_Travel_Trips_df['Date'] > '2019-01-01') & (National_Travel_Trips_df['Date'] < '2021-01-01')]
Filter_National_Trips_df

,Level,Date,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,National,2019/01/01,8.977844e+08,241667151.0,234284795.0,108078903.0,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,0,1
1,National,2019/01/02,1.139452e+09,291276735.0,285887315.0,138039296.0,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,0,1
2,National,2019/01/03,1.162753e+09,296375014.0,290074425.0,140771581.0,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,0,1
3,National,2019/01/04,1.181954e+09,293159631.0,295643296.0,145251819.0,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,0,1
4,National,2019/01/05,1.180477e+09,295459014.0,304168709.0,148540651.0,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,National,2020/12/27,8.292421e+08,200139383.0,206461832.0,102195887.0,126104352.0,121362954.0,39817025.0,17850978.0,11889285.0,2524262.0,896131.0,52,12
727,National,2020/12/28,9.317873e+08,222692512.0,229297493.0,113986783.0,143166694.0,145595464.0,48109376.0,17332450.0,8917207.0,1896025.0,793268.0,52,12
728,National,2020/12/29,9.546309e+08,227638413.0,234476275.0,116466145.0,147101126.0,150393662.0,49637287.0,17646204.0,8677951.0,1825322.0,768467.0,52,12
729,National,2020/12/30,9.761994e+08,231083187.0,242010298.0,120130113.0,150336911.0,152305289.0,49976453.0,18191720.0,9443754.0,1950155.0,771478.0,52,12
730,National,2020/12/31,9.874018e+08,241128181.0,255027801.0,123167661.0,149760282.0,145393631.0,45563679.0,16406169.0,8532462.0,1708327.0,713612.0,52,12

County Table - All States
----

County Table - Population at Home vs. Not

In [82]:
County_Travel_df = travel_distance_df_cleaned2.loc[travel_distance_df_cleaned2['Level'] == 'County']
County_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
21061,County,2021/06/06,WY,Weston County,1268.0,5659.0,22471.0,4160.0,2601.0,948.0,1558.0,5723.0,2202.0,3930.0,1160.0,166.0,23.0,23,6
22762,County,2021/06/06,AR,Bradley County,1780.0,8983.0,25022.0,3411.0,4145.0,5901.0,4321.0,3343.0,1793.0,1383.0,690.0,35.0,0.0,23,6
22763,County,2021/06/06,AR,Calhoun County,571.0,4618.0,17543.0,2166.0,2168.0,3195.0,3600.0,4277.0,1141.0,530.0,425.0,41.0,0.0,23,6
22764,County,2021/06/06,AR,Carroll County,4386.0,23994.0,77047.0,14712.0,16029.0,11434.0,13170.0,14712.0,4272.0,1227.0,1323.0,132.0,36.0,23,6
22765,County,2021/06/06,AR,Chicot County,1356.0,8762.0,31550.0,9483.0,6752.0,4547.0,3929.0,3857.0,1380.0,580.0,957.0,61.0,4.0,23,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369301,County,2021/11/20,WY,Laramie County,17238.0,82262.0,487293.0,140207.0,161578.0,88721.0,58378.0,17584.0,5860.0,8960.0,5201.0,398.0,406.0,46,11
3369302,County,2021/11/20,WY,Lincoln County,3731.0,16099.0,80829.0,16104.0,22831.0,9499.0,8651.0,11486.0,5444.0,5020.0,1640.0,104.0,50.0,46,11
3369303,County,2021/11/20,WY,Natrona County,16858.0,63000.0,385677.0,125975.0,107611.0,63919.0,51372.0,20389.0,8433.0,3140.0,4263.0,387.0,188.0,46,11
3369304,County,2021/11/20,AL,Baldwin County,42524.0,180710.0,704271.0,166657.0,169111.0,81445.0,109544.0,119063.0,39580.0,10176.0,5798.0,2231.0,666.0,46,11
3369305,County,2021/11/20,AL,Autauga County,10837.0,45032.0,197872.0,54685.0,42984.0,19267.0,22188.0,43167.0,8214.0,4232.0,2498.0,572.0,65.0,46,11

In [83]:
County_Travel_Home_df = County_Travel_df.drop(['State Postal Code', 'County Name','Number of Trips','Number of Trips <1','Number of Trips 1-3','Number of Trips 3-5','Number of Trips 5-10','Number of Trips 10-25',
                                                   'Number of Trips 25-50','Number of Trips 50-100','Number of Trips 100-250','Number of Trips 250-500', 
                                                   'Number of Trips >=500', 'Week', 'Month'], axis=1)
County_Travel_Home_df

,Level,Date,Population Staying at Home,Population Not Staying at Home
21061,County,2021/06/06,1268.0,5659.0
22762,County,2021/06/06,1780.0,8983.0
22763,County,2021/06/06,571.0,4618.0
22764,County,2021/06/06,4386.0,23994.0
22765,County,2021/06/06,1356.0,8762.0
...,...,...,...,...
3369301,County,2021/11/20,17238.0,82262.0
3369302,County,2021/11/20,3731.0,16099.0
3369303,County,2021/11/20,16858.0,63000.0
3369304,County,2021/11/20,42524.0,180710.0
3369305,County,2021/11/20,10837.0,45032.0

In [84]:
Filter_County_Home_df = County_Travel_Home_df[(County_Travel_Home_df['Date'] > '2019-01-01') & (County_Travel_Home_df['Date'] < '2021-01-01')]
Filter_County_Home_df

,Level,Date,Population Staying at Home,Population Not Staying at Home
46154,County,2019/01/01,0.0,0.0
46155,County,2019/01/01,0.0,0.0
46156,County,2019/01/01,26007.0,79605.0
46157,County,2019/01/01,2436.0,10311.0
46158,County,2019/01/01,2064.0,8567.0
...,...,...,...,...
2387951,County,2020/12/31,1427.0,6739.0
2387952,County,2020/12/31,1281.0,4649.0
2387953,County,2020/12/31,5841.0,23184.0
2387954,County,2020/12/31,7131.0,24821.0
2387955,County,2020/12/31,1227.0,4862.0

County Table - Trips (in miles)

In [85]:
County_Travel_Trips_df = County_Travel_df.drop(['State Postal Code', 'County Name','Population Staying at Home', 'Population Not Staying at Home'], axis=1)
County_Travel_Trips_df

,Level,Date,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
21061,County,2021/06/06,22471.0,4160.0,2601.0,948.0,1558.0,5723.0,2202.0,3930.0,1160.0,166.0,23.0,23,6
22762,County,2021/06/06,25022.0,3411.0,4145.0,5901.0,4321.0,3343.0,1793.0,1383.0,690.0,35.0,0.0,23,6
22763,County,2021/06/06,17543.0,2166.0,2168.0,3195.0,3600.0,4277.0,1141.0,530.0,425.0,41.0,0.0,23,6
22764,County,2021/06/06,77047.0,14712.0,16029.0,11434.0,13170.0,14712.0,4272.0,1227.0,1323.0,132.0,36.0,23,6
22765,County,2021/06/06,31550.0,9483.0,6752.0,4547.0,3929.0,3857.0,1380.0,580.0,957.0,61.0,4.0,23,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369301,County,2021/11/20,487293.0,140207.0,161578.0,88721.0,58378.0,17584.0,5860.0,8960.0,5201.0,398.0,406.0,46,11
3369302,County,2021/11/20,80829.0,16104.0,22831.0,9499.0,8651.0,11486.0,5444.0,5020.0,1640.0,104.0,50.0,46,11
3369303,County,2021/11/20,385677.0,125975.0,107611.0,63919.0,51372.0,20389.0,8433.0,3140.0,4263.0,387.0,188.0,46,11
3369304,County,2021/11/20,704271.0,166657.0,169111.0,81445.0,109544.0,119063.0,39580.0,10176.0,5798.0,2231.0,666.0,46,11
3369305,County,2021/11/20,197872.0,54685.0,42984.0,19267.0,22188.0,43167.0,8214.0,4232.0,2498.0,572.0,65.0,46,11

In [86]:
Filter_County_Trips_df = County_Travel_Trips_df[(County_Travel_Trips_df['Date'] > '2019-01-01') & (County_Travel_Trips_df['Date'] < '2021-01-01')]
Filter_County_Trips_df

,Level,Date,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
46154,County,2019/01/01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1
46155,County,2019/01/01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1
46156,County,2019/01/01,268693.0,66680.0,83286.0,34670.0,37799.0,24450.0,11760.0,7011.0,2400.0,332.0,305.0,0,1
46157,County,2019/01/01,41481.0,8152.0,10345.0,7459.0,6520.0,4650.0,2316.0,1365.0,530.0,120.0,24.0,0,1
46158,County,2019/01/01,40861.0,9330.0,10881.0,6037.0,7561.0,3728.0,2307.0,732.0,200.0,74.0,11.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387951,County,2020/12/31,39094.0,10961.0,6747.0,2391.0,5104.0,7938.0,3379.0,1367.0,1045.0,105.0,57.0,52,12
2387952,County,2020/12/31,23585.0,6027.0,2523.0,1651.0,4154.0,5725.0,2582.0,405.0,438.0,27.0,53.0,52,12
2387953,County,2020/12/31,121409.0,27384.0,34003.0,11683.0,16092.0,16062.0,11600.0,2642.0,1644.0,281.0,18.0,52,12
2387954,County,2020/12/31,106395.0,18505.0,21909.0,13144.0,20794.0,21274.0,6828.0,2212.0,1282.0,372.0,75.0,52,12
2387955,County,2020/12/31,25617.0,7917.0,4481.0,1642.0,2687.0,4162.0,3710.0,591.0,424.0,2.0,1.0,52,12

State Travel Table
----

State Travel Table - Population Staying Home vs. Not

In [87]:
State_Travel_df = travel_distance_df_cleaned2.loc[travel_distance_df_cleaned2['Level'] == 'State']
State_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
887,State,2019/01/01,NV,0,753054.0,2272063.0,9139676.0,2999886.0,2181216.0,1039500.0,1378024.0,1108436.0,222837.0,93301.0,73578.0,24471.0,18427.0,0,1
888,State,2019/01/01,FL,0,4524666.0,16709556.0,55258300.0,16036792.0,14469767.0,6658624.0,7977612.0,6604304.0,2113009.0,796740.0,412224.0,95341.0,93887.0,0,1
889,State,2019/01/01,DC,0,241030.0,459278.0,3114055.0,1314825.0,833796.0,367547.0,344116.0,183744.0,42096.0,10730.0,8109.0,3476.0,5616.0,0,1
890,State,2019/01/01,DE,0,224457.0,739757.0,2420942.0,584323.0,640348.0,305441.0,370359.0,314102.0,128454.0,50542.0,22701.0,2474.0,2198.0,0,1
891,State,2019/01/01,CT,0,853894.0,2707851.0,9468961.0,2375021.0,2618933.0,1189575.0,1331356.0,1211252.0,449947.0,192960.0,56618.0,12031.0,31268.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369658,State,2021/11/20,DE,0,199997.0,773767.0,4029028.0,1203850.0,1037164.0,458600.0,565986.0,471305.0,176261.0,83127.0,29383.0,2023.0,1329.0,46,11
3369659,State,2021/11/20,ME,0,253650.0,1090562.0,5958496.0,1392742.0,1540589.0,747091.0,896189.0,936014.0,291457.0,109239.0,40197.0,2677.0,2301.0,46,11
3369660,State,2021/11/20,OK,0,866095.0,3090876.0,14471914.0,4199572.0,3471119.0,1746952.0,1964307.0,1885427.0,654502.0,344348.0,174505.0,22229.0,8953.0,46,11
3369661,State,2021/11/20,WI,0,1085326.0,4737108.0,27585379.0,8535783.0,6859041.0,3122433.0,3544719.0,3372694.0,1269962.0,560103.0,273677.0,31731.0,15236.0,46,11
3369662,State,2021/11/20,WV,0,365402.0,1426745.0,6756212.0,1612983.0,1632230.0,774755.0,974990.0,964156.0,435418.0,261359.0,89457.0,8832.0,2032.0,46,11

In [88]:
State_Travel_Home_df = State_Travel_df.drop(['County Name','Number of Trips','Number of Trips <1','Number of Trips 1-3','Number of Trips 3-5','Number of Trips 5-10','Number of Trips 10-25',
                                                   'Number of Trips 25-50','Number of Trips 50-100','Number of Trips 100-250','Number of Trips 250-500', 
                                                   'Number of Trips >=500', 'Week', 'Month'], axis=1)
State_Travel_Home_df

,Level,Date,State Postal Code,Population Staying at Home,Population Not Staying at Home
887,State,2019/01/01,NV,753054.0,2272063.0
888,State,2019/01/01,FL,4524666.0,16709556.0
889,State,2019/01/01,DC,241030.0,459278.0
890,State,2019/01/01,DE,224457.0,739757.0
891,State,2019/01/01,CT,853894.0,2707851.0
...,...,...,...,...,...
3369658,State,2021/11/20,DE,199997.0,773767.0
3369659,State,2021/11/20,ME,253650.0,1090562.0
3369660,State,2021/11/20,OK,866095.0,3090876.0
3369661,State,2021/11/20,WI,1085326.0,4737108.0
3369662,State,2021/11/20,WV,365402.0,1426745.0

In [89]:
Filter_State_Home_df = State_Travel_Home_df[(State_Travel_Home_df['Date'] > '2019-01-01') & (State_Travel_Home_df['Date'] < '2021-01-01')]
Filter_State_Home_df

,Level,Date,State Postal Code,Population Staying at Home,Population Not Staying at Home
887,State,2019/01/01,NV,753054.0,2272063.0
888,State,2019/01/01,FL,4524666.0,16709556.0
889,State,2019/01/01,DC,241030.0,459278.0
890,State,2019/01/01,DE,224457.0,739757.0
891,State,2019/01/01,CT,853894.0,2707851.0
...,...,...,...,...,...
38181,State,2020/12/31,VA,2273636.0,6244049.0
38182,State,2020/12/31,WA,2065107.0,5470484.0
38183,State,2020/12/31,WV,472507.0,1333325.0
38184,State,2020/12/31,WI,1443824.0,4369744.0
38185,State,2020/12/31,WY,153827.0,423910.0

State Travel Table - Trips (in miles)

In [90]:
State_Travel_Trips_df = State_Travel_df.drop(['County Name','Population Staying at Home', 'Population Not Staying at Home'], axis=1)
State_Travel_Trips_df

,Level,Date,State Postal Code,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
887,State,2019/01/01,NV,9139676.0,2999886.0,2181216.0,1039500.0,1378024.0,1108436.0,222837.0,93301.0,73578.0,24471.0,18427.0,0,1
888,State,2019/01/01,FL,55258300.0,16036792.0,14469767.0,6658624.0,7977612.0,6604304.0,2113009.0,796740.0,412224.0,95341.0,93887.0,0,1
889,State,2019/01/01,DC,3114055.0,1314825.0,833796.0,367547.0,344116.0,183744.0,42096.0,10730.0,8109.0,3476.0,5616.0,0,1
890,State,2019/01/01,DE,2420942.0,584323.0,640348.0,305441.0,370359.0,314102.0,128454.0,50542.0,22701.0,2474.0,2198.0,0,1
891,State,2019/01/01,CT,9468961.0,2375021.0,2618933.0,1189575.0,1331356.0,1211252.0,449947.0,192960.0,56618.0,12031.0,31268.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369658,State,2021/11/20,DE,4029028.0,1203850.0,1037164.0,458600.0,565986.0,471305.0,176261.0,83127.0,29383.0,2023.0,1329.0,46,11
3369659,State,2021/11/20,ME,5958496.0,1392742.0,1540589.0,747091.0,896189.0,936014.0,291457.0,109239.0,40197.0,2677.0,2301.0,46,11
3369660,State,2021/11/20,OK,14471914.0,4199572.0,3471119.0,1746952.0,1964307.0,1885427.0,654502.0,344348.0,174505.0,22229.0,8953.0,46,11
3369661,State,2021/11/20,WI,27585379.0,8535783.0,6859041.0,3122433.0,3544719.0,3372694.0,1269962.0,560103.0,273677.0,31731.0,15236.0,46,11
3369662,State,2021/11/20,WV,6756212.0,1612983.0,1632230.0,774755.0,974990.0,964156.0,435418.0,261359.0,89457.0,8832.0,2032.0,46,11

In [91]:
Filter_State_Travel_df = State_Travel_Trips_df[(State_Travel_Trips_df['Date'] > '2019-01-01') & (State_Travel_Trips_df['Date'] < '2021-01-01')]
Filter_State_Travel_df

,Level,Date,State Postal Code,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
887,State,2019/01/01,NV,9139676.0,2999886.0,2181216.0,1039500.0,1378024.0,1108436.0,222837.0,93301.0,73578.0,24471.0,18427.0,0,1
888,State,2019/01/01,FL,55258300.0,16036792.0,14469767.0,6658624.0,7977612.0,6604304.0,2113009.0,796740.0,412224.0,95341.0,93887.0,0,1
889,State,2019/01/01,DC,3114055.0,1314825.0,833796.0,367547.0,344116.0,183744.0,42096.0,10730.0,8109.0,3476.0,5616.0,0,1
890,State,2019/01/01,DE,2420942.0,584323.0,640348.0,305441.0,370359.0,314102.0,128454.0,50542.0,22701.0,2474.0,2198.0,0,1
891,State,2019/01/01,CT,9468961.0,2375021.0,2618933.0,1189575.0,1331356.0,1211252.0,449947.0,192960.0,56618.0,12031.0,31268.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38181,State,2020/12/31,VA,27027458.0,6655448.0,6895222.0,3454669.0,4163304.0,3987814.0,1195300.0,416123.0,210810.0,36386.0,12382.0,52,12
38182,State,2020/12/31,WA,24699797.0,6314764.0,6371028.0,2946734.0,3695905.0,3625504.0,1147024.0,390166.0,159415.0,26887.0,22370.0,52,12
38183,State,2020/12/31,WV,5374267.0,1153805.0,1368087.0,687401.0,870602.0,853793.0,282153.0,107418.0,41743.0,7632.0,1633.0,52,12
38184,State,2020/12/31,WI,19252702.0,4415824.0,4701825.0,2389239.0,3003023.0,3044157.0,1046269.0,394164.0,213927.0,34745.0,9529.0,52,12
38185,State,2020/12/31,WY,2151626.0,533074.0,627807.0,290020.0,231566.0,200450.0,144100.0,79853.0,38969.0,4366.0,1421.0,52,12

MA Travel Tables
----

MA Travel Table - Population Staying at Home vs Not

In [100]:
MA_Travel_df = State_Travel_df.loc[State_Travel_df['Level'] == 'State']
MA_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
887,State,2019/01/01,NV,0,753054.0,2272063.0,9139676.0,2999886.0,2181216.0,1039500.0,1378024.0,1108436.0,222837.0,93301.0,73578.0,24471.0,18427.0,0,1
888,State,2019/01/01,FL,0,4524666.0,16709556.0,55258300.0,16036792.0,14469767.0,6658624.0,7977612.0,6604304.0,2113009.0,796740.0,412224.0,95341.0,93887.0,0,1
889,State,2019/01/01,DC,0,241030.0,459278.0,3114055.0,1314825.0,833796.0,367547.0,344116.0,183744.0,42096.0,10730.0,8109.0,3476.0,5616.0,0,1
890,State,2019/01/01,DE,0,224457.0,739757.0,2420942.0,584323.0,640348.0,305441.0,370359.0,314102.0,128454.0,50542.0,22701.0,2474.0,2198.0,0,1
891,State,2019/01/01,CT,0,853894.0,2707851.0,9468961.0,2375021.0,2618933.0,1189575.0,1331356.0,1211252.0,449947.0,192960.0,56618.0,12031.0,31268.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369658,State,2021/11/20,DE,0,199997.0,773767.0,4029028.0,1203850.0,1037164.0,458600.0,565986.0,471305.0,176261.0,83127.0,29383.0,2023.0,1329.0,46,11
3369659,State,2021/11/20,ME,0,253650.0,1090562.0,5958496.0,1392742.0,1540589.0,747091.0,896189.0,936014.0,291457.0,109239.0,40197.0,2677.0,2301.0,46,11
3369660,State,2021/11/20,OK,0,866095.0,3090876.0,14471914.0,4199572.0,3471119.0,1746952.0,1964307.0,1885427.0,654502.0,344348.0,174505.0,22229.0,8953.0,46,11
3369661,State,2021/11/20,WI,0,1085326.0,4737108.0,27585379.0,8535783.0,6859041.0,3122433.0,3544719.0,3372694.0,1269962.0,560103.0,273677.0,31731.0,15236.0,46,11
3369662,State,2021/11/20,WV,0,365402.0,1426745.0,6756212.0,1612983.0,1632230.0,774755.0,974990.0,964156.0,435418.0,261359.0,89457.0,8832.0,2032.0,46,11

In [101]:
MA_Travel_df2 = MA_Travel_df.loc[MA_Travel_df['State Postal Code'] == 'MA']
MA_Travel_df2

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
929,State,2019/01/01,MA,0,1798521.0,5082532.0,22181890.0,6078316.0,5980407.0,2680470.0,3106759.0,2817590.0,1021091.0,316642.0,104691.0,18791.0,57133.0,0,1
962,State,2019/01/02,MA,0,1408154.0,5472899.0,28125611.0,7237304.0,7219021.0,3438621.0,4122162.0,4178675.0,1413952.0,336420.0,106300.0,21239.0,51917.0,0,1
1017,State,2019/01/03,MA,0,1442723.0,5438330.0,28117808.0,7265580.0,7161397.0,3444979.0,4128933.0,4217732.0,1391118.0,329791.0,102938.0,21196.0,54144.0,0,1
1076,State,2019/01/04,MA,0,1440797.0,5440256.0,28630786.0,7165246.0,7391199.0,3582607.0,4284623.0,4259228.0,1404307.0,347550.0,115732.0,24146.0,56148.0,0,1
1092,State,2019/01/05,MA,0,1499659.0,5381394.0,28083625.0,7070600.0,7527639.0,3584861.0,4206453.0,3890073.0,1276922.0,350908.0,109370.0,20830.0,45969.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369423,State,2021/11/16,MA,0,1504573.0,5387930.0,38884361.0,12390982.0,10102865.0,4323849.0,5122101.0,4935413.0,1510177.0,380683.0,82866.0,11105.0,24320.0,46,11
3369481,State,2021/11/17,MA,0,1506793.0,5385710.0,39764095.0,12670393.0,10472242.0,4405903.0,5166207.0,4989488.0,1540707.0,397405.0,85295.0,11659.0,24796.0,46,11
3369554,State,2021/11/18,MA,0,1546138.0,5346365.0,36474044.0,11364672.0,9423440.0,4053506.0,4899099.0,4760592.0,1477790.0,379940.0,80847.0,10571.0,23587.0,46,11
3369599,State,2021/11/19,MA,0,1505277.0,5387226.0,38884344.0,12109200.0,10150244.0,4351377.0,5203559.0,4971759.0,1522358.0,422447.0,113072.0,14053.0,26275.0,46,11
3369652,State,2021/11/20,MA,0,1528278.0,5364225.0,35672621.0,11257650.0,9370625.0,4001393.0,4659007.0,4355699.0,1411619.0,470157.0,110383.0,12303.0,23785.0,46,11

In [102]:
Filter_MA_Travel_df = MA_Travel_df2[(MA_Travel_df2['Date'] > '2019-01-01') & (MA_Travel_df2['Date'] < '2021-01-01')]
Filter_MA_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
929,State,2019/01/01,MA,0,1798521.0,5082532.0,22181890.0,6078316.0,5980407.0,2680470.0,3106759.0,2817590.0,1021091.0,316642.0,104691.0,18791.0,57133.0,0,1
962,State,2019/01/02,MA,0,1408154.0,5472899.0,28125611.0,7237304.0,7219021.0,3438621.0,4122162.0,4178675.0,1413952.0,336420.0,106300.0,21239.0,51917.0,0,1
1017,State,2019/01/03,MA,0,1442723.0,5438330.0,28117808.0,7265580.0,7161397.0,3444979.0,4128933.0,4217732.0,1391118.0,329791.0,102938.0,21196.0,54144.0,0,1
1076,State,2019/01/04,MA,0,1440797.0,5440256.0,28630786.0,7165246.0,7391199.0,3582607.0,4284623.0,4259228.0,1404307.0,347550.0,115732.0,24146.0,56148.0,0,1
1092,State,2019/01/05,MA,0,1499659.0,5381394.0,28083625.0,7070600.0,7527639.0,3584861.0,4206453.0,3890073.0,1276922.0,350908.0,109370.0,20830.0,45969.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37953,State,2020/12/27,MA,0,2386321.0,4515828.0,19834662.0,5215859.0,5229644.0,2506310.0,2914654.0,2750140.0,826000.0,269541.0,90360.0,13711.0,18443.0,52,12
37997,State,2020/12/28,MA,0,2259375.0,4642774.0,21335898.0,5419760.0,5534819.0,2653767.0,3223864.0,3181800.0,965201.0,254746.0,72069.0,12975.0,16897.0,52,12
38055,State,2020/12/29,MA,0,2227996.0,4674153.0,21847408.0,5391983.0,5654040.0,2742780.0,3312831.0,3366876.0,1013342.0,261936.0,72620.0,13189.0,17811.0,52,12
38104,State,2020/12/30,MA,0,2197145.0,4705004.0,22478842.0,5543593.0,5871338.0,2842343.0,3407439.0,3398409.0,1021337.0,284818.0,79427.0,12954.0,17184.0,52,12
38157,State,2020/12/31,MA,0,2162703.0,4739446.0,22942550.0,5961981.0,6276867.0,2955870.0,3336913.0,3140863.0,915157.0,251425.0,75133.0,11246.0,17095.0,52,12

In [103]:
MA_Travel_Home_df = Filter_MA_Travel_df.drop(['County Name','Number of Trips','Number of Trips <1','Number of Trips 1-3','Number of Trips 3-5','Number of Trips 5-10','Number of Trips 10-25',
                                                   'Number of Trips 25-50','Number of Trips 50-100','Number of Trips 100-250','Number of Trips 250-500', 
                                                   'Number of Trips >=500', 'Week', 'Month'], axis=1)
MA_Travel_Home_df

,Level,Date,State Postal Code,Population Staying at Home,Population Not Staying at Home
929,State,2019/01/01,MA,1798521.0,5082532.0
962,State,2019/01/02,MA,1408154.0,5472899.0
1017,State,2019/01/03,MA,1442723.0,5438330.0
1076,State,2019/01/04,MA,1440797.0,5440256.0
1092,State,2019/01/05,MA,1499659.0,5381394.0
...,...,...,...,...,...
37953,State,2020/12/27,MA,2386321.0,4515828.0
37997,State,2020/12/28,MA,2259375.0,4642774.0
38055,State,2020/12/29,MA,2227996.0,4674153.0
38104,State,2020/12/30,MA,2197145.0,4705004.0
38157,State,2020/12/31,MA,2162703.0,4739446.0

MA Travel Table - Trips (in miles)

In [104]:
MA_Travel_Trips_df = Filter_MA_Travel_df.drop(['County Name','Population Staying at Home', 'Population Not Staying at Home'], axis=1)
MA_Travel_Trips_df

,Level,Date,State Postal Code,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
929,State,2019/01/01,MA,22181890.0,6078316.0,5980407.0,2680470.0,3106759.0,2817590.0,1021091.0,316642.0,104691.0,18791.0,57133.0,0,1
962,State,2019/01/02,MA,28125611.0,7237304.0,7219021.0,3438621.0,4122162.0,4178675.0,1413952.0,336420.0,106300.0,21239.0,51917.0,0,1
1017,State,2019/01/03,MA,28117808.0,7265580.0,7161397.0,3444979.0,4128933.0,4217732.0,1391118.0,329791.0,102938.0,21196.0,54144.0,0,1
1076,State,2019/01/04,MA,28630786.0,7165246.0,7391199.0,3582607.0,4284623.0,4259228.0,1404307.0,347550.0,115732.0,24146.0,56148.0,0,1
1092,State,2019/01/05,MA,28083625.0,7070600.0,7527639.0,3584861.0,4206453.0,3890073.0,1276922.0,350908.0,109370.0,20830.0,45969.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37953,State,2020/12/27,MA,19834662.0,5215859.0,5229644.0,2506310.0,2914654.0,2750140.0,826000.0,269541.0,90360.0,13711.0,18443.0,52,12
37997,State,2020/12/28,MA,21335898.0,5419760.0,5534819.0,2653767.0,3223864.0,3181800.0,965201.0,254746.0,72069.0,12975.0,16897.0,52,12
38055,State,2020/12/29,MA,21847408.0,5391983.0,5654040.0,2742780.0,3312831.0,3366876.0,1013342.0,261936.0,72620.0,13189.0,17811.0,52,12
38104,State,2020/12/30,MA,22478842.0,5543593.0,5871338.0,2842343.0,3407439.0,3398409.0,1021337.0,284818.0,79427.0,12954.0,17184.0,52,12
38157,State,2020/12/31,MA,22942550.0,5961981.0,6276867.0,2955870.0,3336913.0,3140863.0,915157.0,251425.0,75133.0,11246.0,17095.0,52,12

MA Travel Tables - By County
----

MA County Tables - Population at Home vs Not

In [116]:
MA_County_Travel_df = County_Travel_df.loc[County_Travel_df['State Postal Code'] == 'MA']
MA_County_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
46302,County,2019/01/01,MA,Barnstable County,53475.0,159515.0,705244.0,175638.0,190704.0,94817.0,115479.0,82692.0,21815.0,17016.0,4754.0,678.0,1651.0,0,1
46303,County,2019/01/01,MA,Berkshire County,36896.0,88048.0,368559.0,90691.0,112628.0,49392.0,48926.0,42353.0,13575.0,6911.0,2783.0,343.0,957.0,0,1
46304,County,2019/01/01,MA,Bristol County,131116.0,434101.0,1935282.0,486151.0,510317.0,247813.0,258738.0,282266.0,106311.0,33658.0,6262.0,1152.0,2614.0,0,1
46305,County,2019/01/01,MA,Dukes County,4445.0,12887.0,54918.0,13118.0,17828.0,7528.0,10320.0,3438.0,1204.0,805.0,531.0,32.0,114.0,0,1
46306,County,2019/01/01,MA,Essex County,206991.0,582043.0,2545997.0,717552.0,710218.0,308116.0,338807.0,301835.0,122824.0,29109.0,10678.0,2021.0,4837.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3367348,County,2021/11/20,MA,Nantucket County,2167.0,9232.0,63346.0,23697.0,24746.0,6765.0,5434.0,407.0,1954.0,188.0,73.0,13.0,69.0,46,11
3367349,County,2021/11/20,MA,Norfolk County,159149.0,547626.0,3359898.0,1035872.0,881829.0,336401.0,465435.0,472164.0,118868.0,35512.0,10195.0,1171.0,2451.0,46,11
3367350,County,2021/11/20,MA,Plymouth County,97883.0,423319.0,2776186.0,822891.0,673280.0,313981.0,397115.0,376596.0,151477.0,33055.0,5682.0,579.0,1530.0,46,11
3367351,County,2021/11/20,MA,Suffolk County,203375.0,600532.0,3574919.0,1249405.0,905473.0,477534.0,522996.0,281224.0,85122.0,36023.0,11514.0,1356.0,4272.0,46,11
3367352,County,2021/11/20,MA,Worcester County,157720.0,672902.0,4597317.0,1372564.0,1190168.0,489306.0,583221.0,652482.0,226356.0,68463.0,12229.0,905.0,1623.0,46,11

In [117]:
MA_County_Home_df = MA_County_Travel_df.drop(['Number of Trips','Number of Trips <1','Number of Trips 1-3','Number of Trips 3-5','Number of Trips 5-10','Number of Trips 10-25',
                                                   'Number of Trips 25-50','Number of Trips 50-100','Number of Trips 100-250','Number of Trips 250-500', 
                                                   'Number of Trips >=500', 'Week', 'Month'], axis=1)
MA_County_Home_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home
46302,County,2019/01/01,MA,Barnstable County,53475.0,159515.0
46303,County,2019/01/01,MA,Berkshire County,36896.0,88048.0
46304,County,2019/01/01,MA,Bristol County,131116.0,434101.0
46305,County,2019/01/01,MA,Dukes County,4445.0,12887.0
46306,County,2019/01/01,MA,Essex County,206991.0,582043.0
...,...,...,...,...,...,...
3367348,County,2021/11/20,MA,Nantucket County,2167.0,9232.0
3367349,County,2021/11/20,MA,Norfolk County,159149.0,547626.0
3367350,County,2021/11/20,MA,Plymouth County,97883.0,423319.0
3367351,County,2021/11/20,MA,Suffolk County,203375.0,600532.0
3367352,County,2021/11/20,MA,Worcester County,157720.0,672902.0

In [118]:
Filter_MA_County_Home_df = MA_County_Home_df[(MA_County_Home_df['Date'] > '2019-01-01') & (MA_County_Home_df['Date'] < '2021-01-01')]
Filter_MA_County_Home_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home
46302,County,2019/01/01,MA,Barnstable County,53475.0,159515.0
46303,County,2019/01/01,MA,Berkshire County,36896.0,88048.0
46304,County,2019/01/01,MA,Bristol County,131116.0,434101.0
46305,County,2019/01/01,MA,Dukes County,4445.0,12887.0
46306,County,2019/01/01,MA,Essex County,206991.0,582043.0
...,...,...,...,...,...,...
2386062,County,2020/12/31,MA,Nantucket County,3444.0,7955.0
2386063,County,2020/12/31,MA,Norfolk County,236342.0,470433.0
2386064,County,2020/12/31,MA,Plymouth County,144357.0,376845.0
2386065,County,2020/12/31,MA,Suffolk County,322224.0,481683.0
2386066,County,2020/12/31,MA,Worcester County,234145.0,596477.0

MA County Table - Trips (in miles)

In [119]:
MA_County_Trips_df = MA_County_Travel_df.drop(['Population Staying at Home', 'Population Not Staying at Home'], axis=1)
MA_County_Trips_df

,Level,Date,State Postal Code,County Name,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
46302,County,2019/01/01,MA,Barnstable County,705244.0,175638.0,190704.0,94817.0,115479.0,82692.0,21815.0,17016.0,4754.0,678.0,1651.0,0,1
46303,County,2019/01/01,MA,Berkshire County,368559.0,90691.0,112628.0,49392.0,48926.0,42353.0,13575.0,6911.0,2783.0,343.0,957.0,0,1
46304,County,2019/01/01,MA,Bristol County,1935282.0,486151.0,510317.0,247813.0,258738.0,282266.0,106311.0,33658.0,6262.0,1152.0,2614.0,0,1
46305,County,2019/01/01,MA,Dukes County,54918.0,13118.0,17828.0,7528.0,10320.0,3438.0,1204.0,805.0,531.0,32.0,114.0,0,1
46306,County,2019/01/01,MA,Essex County,2545997.0,717552.0,710218.0,308116.0,338807.0,301835.0,122824.0,29109.0,10678.0,2021.0,4837.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3367348,County,2021/11/20,MA,Nantucket County,63346.0,23697.0,24746.0,6765.0,5434.0,407.0,1954.0,188.0,73.0,13.0,69.0,46,11
3367349,County,2021/11/20,MA,Norfolk County,3359898.0,1035872.0,881829.0,336401.0,465435.0,472164.0,118868.0,35512.0,10195.0,1171.0,2451.0,46,11
3367350,County,2021/11/20,MA,Plymouth County,2776186.0,822891.0,673280.0,313981.0,397115.0,376596.0,151477.0,33055.0,5682.0,579.0,1530.0,46,11
3367351,County,2021/11/20,MA,Suffolk County,3574919.0,1249405.0,905473.0,477534.0,522996.0,281224.0,85122.0,36023.0,11514.0,1356.0,4272.0,46,11
3367352,County,2021/11/20,MA,Worcester County,4597317.0,1372564.0,1190168.0,489306.0,583221.0,652482.0,226356.0,68463.0,12229.0,905.0,1623.0,46,11

In [120]:
Filter_MA_County_Trips_df = MA_County_Trips_df[(MA_County_Trips_df['Date'] > '2019-01-01') & (MA_County_Trips_df['Date'] < '2021-01-01')]
Filter_MA_County_Trips_df

,Level,Date,State Postal Code,County Name,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
46302,County,2019/01/01,MA,Barnstable County,705244.0,175638.0,190704.0,94817.0,115479.0,82692.0,21815.0,17016.0,4754.0,678.0,1651.0,0,1
46303,County,2019/01/01,MA,Berkshire County,368559.0,90691.0,112628.0,49392.0,48926.0,42353.0,13575.0,6911.0,2783.0,343.0,957.0,0,1
46304,County,2019/01/01,MA,Bristol County,1935282.0,486151.0,510317.0,247813.0,258738.0,282266.0,106311.0,33658.0,6262.0,1152.0,2614.0,0,1
46305,County,2019/01/01,MA,Dukes County,54918.0,13118.0,17828.0,7528.0,10320.0,3438.0,1204.0,805.0,531.0,32.0,114.0,0,1
46306,County,2019/01/01,MA,Essex County,2545997.0,717552.0,710218.0,308116.0,338807.0,301835.0,122824.0,29109.0,10678.0,2021.0,4837.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2386062,County,2020/12/31,MA,Nantucket County,48692.0,15963.0,20420.0,5708.0,4265.0,1262.0,744.0,225.0,48.0,16.0,41.0,52,12
2386063,County,2020/12/31,MA,Norfolk County,2273091.0,596385.0,630550.0,281682.0,334602.0,319786.0,77971.0,21965.0,7386.0,821.0,1943.0,52,12
2386064,County,2020/12/31,MA,Plymouth County,1820758.0,412154.0,488241.0,229326.0,278816.0,292353.0,93981.0,20219.0,4129.0,496.0,1043.0,52,12
2386065,County,2020/12/31,MA,Suffolk County,2376406.0,766782.0,702991.0,316916.0,317905.0,203180.0,43819.0,14317.0,6279.0,878.0,3339.0,52,12
2386066,County,2020/12/31,MA,Worcester County,2926913.0,686246.0,742376.0,361176.0,432805.0,483368.0,164545.0,44583.0,9240.0,1277.0,1297.0,52,12

MN Travel Tables
----

MN Travel Table - Population Staying Home vs. Not

In [121]:
MN_Travel_df = State_Travel_df.loc[State_Travel_df['Level'] == 'State']
MN_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
887,State,2019/01/01,NV,0,753054.0,2272063.0,9139676.0,2999886.0,2181216.0,1039500.0,1378024.0,1108436.0,222837.0,93301.0,73578.0,24471.0,18427.0,0,1
888,State,2019/01/01,FL,0,4524666.0,16709556.0,55258300.0,16036792.0,14469767.0,6658624.0,7977612.0,6604304.0,2113009.0,796740.0,412224.0,95341.0,93887.0,0,1
889,State,2019/01/01,DC,0,241030.0,459278.0,3114055.0,1314825.0,833796.0,367547.0,344116.0,183744.0,42096.0,10730.0,8109.0,3476.0,5616.0,0,1
890,State,2019/01/01,DE,0,224457.0,739757.0,2420942.0,584323.0,640348.0,305441.0,370359.0,314102.0,128454.0,50542.0,22701.0,2474.0,2198.0,0,1
891,State,2019/01/01,CT,0,853894.0,2707851.0,9468961.0,2375021.0,2618933.0,1189575.0,1331356.0,1211252.0,449947.0,192960.0,56618.0,12031.0,31268.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369658,State,2021/11/20,DE,0,199997.0,773767.0,4029028.0,1203850.0,1037164.0,458600.0,565986.0,471305.0,176261.0,83127.0,29383.0,2023.0,1329.0,46,11
3369659,State,2021/11/20,ME,0,253650.0,1090562.0,5958496.0,1392742.0,1540589.0,747091.0,896189.0,936014.0,291457.0,109239.0,40197.0,2677.0,2301.0,46,11
3369660,State,2021/11/20,OK,0,866095.0,3090876.0,14471914.0,4199572.0,3471119.0,1746952.0,1964307.0,1885427.0,654502.0,344348.0,174505.0,22229.0,8953.0,46,11
3369661,State,2021/11/20,WI,0,1085326.0,4737108.0,27585379.0,8535783.0,6859041.0,3122433.0,3544719.0,3372694.0,1269962.0,560103.0,273677.0,31731.0,15236.0,46,11
3369662,State,2021/11/20,WV,0,365402.0,1426745.0,6756212.0,1612983.0,1632230.0,774755.0,974990.0,964156.0,435418.0,261359.0,89457.0,8832.0,2032.0,46,11

In [122]:
NM_Travel_df2 = MN_Travel_df.loc[MN_Travel_df['State Postal Code'] == 'MN']
NM_Travel_df2

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
933,State,2019/01/01,MN,0,1266769.0,4327262.0,15278584.0,3589616.0,3806602.0,1772986.0,2246949.0,2419710.0,830948.0,337906.0,187197.0,42524.0,44146.0,0,1
976,State,2019/01/02,MN,0,999164.0,4594867.0,20024328.0,4599433.0,4779143.0,2320660.0,3039570.0,3494070.0,1151921.0,369683.0,184207.0,45613.0,40028.0,0,1
1019,State,2019/01/03,MN,0,1031386.0,4562645.0,20696247.0,4786125.0,4874563.0,2375217.0,3143072.0,3593594.0,1212432.0,408361.0,205839.0,52901.0,44143.0,0,1
1078,State,2019/01/04,MN,0,1006305.0,4587726.0,21131923.0,4795853.0,4976137.0,2470200.0,3221775.0,3665531.0,1224555.0,442407.0,234558.0,56358.0,44549.0,0,1
1094,State,2019/01/05,MN,0,1042887.0,4551144.0,20987882.0,4813577.0,5052214.0,2523646.0,3221947.0,3434203.0,1169907.0,459252.0,222020.0,50782.0,40334.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369430,State,2021/11/16,MN,0,1132402.0,4507230.0,26762675.0,8029965.0,6280028.0,2786861.0,3451099.0,4128604.0,1429521.0,435578.0,167566.0,25638.0,27815.0,46,11
3369483,State,2021/11/17,MN,0,1127684.0,4511948.0,27953436.0,8530700.0,6645360.0,2898780.0,3519157.0,4209036.0,1465316.0,454047.0,176300.0,26606.0,28134.0,46,11
3369549,State,2021/11/18,MN,0,1180503.0,4459129.0,24199845.0,7003253.0,5630413.0,2560875.0,3165237.0,3843310.0,1358834.0,425756.0,161753.0,24528.0,25886.0,46,11
3369607,State,2021/11/19,MN,0,1124576.0,4515056.0,27575924.0,8337130.0,6498100.0,2853531.0,3480499.0,4161900.0,1452538.0,499003.0,230548.0,32656.0,30019.0,46,11
3369619,State,2021/11/20,MN,0,1146668.0,4492964.0,24825264.0,7304575.0,5843433.0,2617450.0,3171646.0,3663378.0,1379822.0,559819.0,231305.0,27322.0,26514.0,46,11

In [123]:
Filter_MN_Travel_df = NM_Travel_df2[(NM_Travel_df2['Date'] > '2019-01-01') & (NM_Travel_df2['Date'] < '2021-01-01')]
Filter_MN_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
933,State,2019/01/01,MN,0,1266769.0,4327262.0,15278584.0,3589616.0,3806602.0,1772986.0,2246949.0,2419710.0,830948.0,337906.0,187197.0,42524.0,44146.0,0,1
976,State,2019/01/02,MN,0,999164.0,4594867.0,20024328.0,4599433.0,4779143.0,2320660.0,3039570.0,3494070.0,1151921.0,369683.0,184207.0,45613.0,40028.0,0,1
1019,State,2019/01/03,MN,0,1031386.0,4562645.0,20696247.0,4786125.0,4874563.0,2375217.0,3143072.0,3593594.0,1212432.0,408361.0,205839.0,52901.0,44143.0,0,1
1078,State,2019/01/04,MN,0,1006305.0,4587726.0,21131923.0,4795853.0,4976137.0,2470200.0,3221775.0,3665531.0,1224555.0,442407.0,234558.0,56358.0,44549.0,0,1
1094,State,2019/01/05,MN,0,1042887.0,4551144.0,20987882.0,4813577.0,5052214.0,2523646.0,3221947.0,3434203.0,1169907.0,459252.0,222020.0,50782.0,40334.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37955,State,2020/12/27,MN,0,1809840.0,3801339.0,14260531.0,3623834.0,3349331.0,1622128.0,1990968.0,2166490.0,794757.0,373665.0,276622.0,42255.0,20481.0,52,12
37999,State,2020/12/28,MN,0,1592285.0,4018894.0,16526660.0,4012835.0,3765501.0,1851111.0,2369771.0,2864095.0,1034099.0,374818.0,200521.0,34927.0,18982.0,52,12
38057,State,2020/12/29,MN,0,1637391.0,3973788.0,16172758.0,4031053.0,3802310.0,1808574.0,2309078.0,2735972.0,952525.0,316528.0,166223.0,30786.0,19709.0,52,12
38106,State,2020/12/30,MN,0,1605236.0,4005943.0,17155538.0,4189180.0,4020298.0,1957899.0,2463623.0,2929688.0,1007102.0,351474.0,183739.0,33052.0,19483.0,52,12
38159,State,2020/12/31,MN,0,1511620.0,4099559.0,17793007.0,4358024.0,4231107.0,2025170.0,2539557.0,2938498.0,1035124.0,402116.0,213307.0,33007.0,17097.0,52,12

In [124]:
MN_Travel_Home_df = Filter_MN_Travel_df.drop(['County Name','Number of Trips','Number of Trips <1','Number of Trips 1-3','Number of Trips 3-5','Number of Trips 5-10','Number of Trips 10-25',
                                                   'Number of Trips 25-50','Number of Trips 50-100','Number of Trips 100-250','Number of Trips 250-500', 
                                                   'Number of Trips >=500', 'Week', 'Month'], axis=1)
MN_Travel_Home_df

,Level,Date,State Postal Code,Population Staying at Home,Population Not Staying at Home
933,State,2019/01/01,MN,1266769.0,4327262.0
976,State,2019/01/02,MN,999164.0,4594867.0
1019,State,2019/01/03,MN,1031386.0,4562645.0
1078,State,2019/01/04,MN,1006305.0,4587726.0
1094,State,2019/01/05,MN,1042887.0,4551144.0
...,...,...,...,...,...
37955,State,2020/12/27,MN,1809840.0,3801339.0
37999,State,2020/12/28,MN,1592285.0,4018894.0
38057,State,2020/12/29,MN,1637391.0,3973788.0
38106,State,2020/12/30,MN,1605236.0,4005943.0
38159,State,2020/12/31,MN,1511620.0,4099559.0

MN Travel Table - Trips (in miles)

In [125]:
MN_Travel_Trips_df = Filter_MN_Travel_df.drop(['County Name','Population Staying at Home', 'Population Not Staying at Home'], axis=1)
MN_Travel_Trips_df

,Level,Date,State Postal Code,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
933,State,2019/01/01,MN,15278584.0,3589616.0,3806602.0,1772986.0,2246949.0,2419710.0,830948.0,337906.0,187197.0,42524.0,44146.0,0,1
976,State,2019/01/02,MN,20024328.0,4599433.0,4779143.0,2320660.0,3039570.0,3494070.0,1151921.0,369683.0,184207.0,45613.0,40028.0,0,1
1019,State,2019/01/03,MN,20696247.0,4786125.0,4874563.0,2375217.0,3143072.0,3593594.0,1212432.0,408361.0,205839.0,52901.0,44143.0,0,1
1078,State,2019/01/04,MN,21131923.0,4795853.0,4976137.0,2470200.0,3221775.0,3665531.0,1224555.0,442407.0,234558.0,56358.0,44549.0,0,1
1094,State,2019/01/05,MN,20987882.0,4813577.0,5052214.0,2523646.0,3221947.0,3434203.0,1169907.0,459252.0,222020.0,50782.0,40334.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37955,State,2020/12/27,MN,14260531.0,3623834.0,3349331.0,1622128.0,1990968.0,2166490.0,794757.0,373665.0,276622.0,42255.0,20481.0,52,12
37999,State,2020/12/28,MN,16526660.0,4012835.0,3765501.0,1851111.0,2369771.0,2864095.0,1034099.0,374818.0,200521.0,34927.0,18982.0,52,12
38057,State,2020/12/29,MN,16172758.0,4031053.0,3802310.0,1808574.0,2309078.0,2735972.0,952525.0,316528.0,166223.0,30786.0,19709.0,52,12
38106,State,2020/12/30,MN,17155538.0,4189180.0,4020298.0,1957899.0,2463623.0,2929688.0,1007102.0,351474.0,183739.0,33052.0,19483.0,52,12
38159,State,2020/12/31,MN,17793007.0,4358024.0,4231107.0,2025170.0,2539557.0,2938498.0,1035124.0,402116.0,213307.0,33007.0,17097.0,52,12

NM Travel Tables - By County
----

NM County Tables - Population at Home vs Not

In [126]:
NM_County_Travel_df = County_Travel_df.loc[County_Travel_df['State Postal Code'] == 'MN']
NM_County_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
46400,County,2019/01/01,MN,Aitkin County,2837.0,13049.0,41437.0,7314.0,8105.0,5687.0,5717.0,7259.0,3728.0,2171.0,1289.0,121.0,46.0,0,1
46402,County,2019/01/01,MN,Anoka County,77248.0,279673.0,960687.0,220440.0,232141.0,101477.0,142130.0,181811.0,55304.0,12414.0,9907.0,2491.0,2572.0,0,1
46403,County,2019/01/01,MN,Becker County,6505.0,27918.0,96525.0,18195.0,25421.0,9840.0,16384.0,12260.0,7585.0,4868.0,1505.0,326.0,141.0,0,1
46404,County,2019/01/01,MN,Beltrami County,7955.0,39233.0,142830.0,29472.0,34488.0,20212.0,19144.0,21552.0,9621.0,4877.0,2900.0,372.0,192.0,0,1
46405,County,2019/01/01,MN,Benton County,8374.0,32515.0,115486.0,25847.0,29169.0,14558.0,16389.0,16816.0,5479.0,4693.0,1949.0,351.0,235.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3367517,County,2021/11/20,MN,Wilkin County,1084.0,5123.0,27996.0,4684.0,6353.0,2943.0,4849.0,6032.0,1712.0,1075.0,311.0,20.0,17.0,46,11
3367518,County,2021/11/20,MN,Becker County,5492.0,28931.0,143303.0,28614.0,34838.0,14967.0,23106.0,21323.0,11532.0,6394.0,2183.0,188.0,158.0,46,11
3367519,County,2021/11/20,MN,Winona County,8598.0,41886.0,225610.0,61395.0,58647.0,28944.0,22738.0,23563.0,21217.0,6759.0,2094.0,157.0,96.0,46,11
3367520,County,2021/11/20,MN,Wright County,26100.0,112277.0,555508.0,131136.0,133567.0,48745.0,50680.0,108188.0,62367.0,13410.0,6169.0,572.0,674.0,46,11
3367521,County,2021/11/20,MN,Yellow Medicine County,1828.0,7881.0,44092.0,11415.0,8592.0,4993.0,4426.0,8486.0,4027.0,1351.0,677.0,74.0,51.0,46,11

In [127]:
NM_County_Home_df = NM_County_Travel_df.drop(['Number of Trips','Number of Trips <1','Number of Trips 1-3','Number of Trips 3-5','Number of Trips 5-10','Number of Trips 10-25',
                                                   'Number of Trips 25-50','Number of Trips 50-100','Number of Trips 100-250','Number of Trips 250-500', 
                                                   'Number of Trips >=500', 'Week', 'Month'], axis=1)
NM_County_Home_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home
46400,County,2019/01/01,MN,Aitkin County,2837.0,13049.0
46402,County,2019/01/01,MN,Anoka County,77248.0,279673.0
46403,County,2019/01/01,MN,Becker County,6505.0,27918.0
46404,County,2019/01/01,MN,Beltrami County,7955.0,39233.0
46405,County,2019/01/01,MN,Benton County,8374.0,32515.0
...,...,...,...,...,...,...
3367517,County,2021/11/20,MN,Wilkin County,1084.0,5123.0
3367518,County,2021/11/20,MN,Becker County,5492.0,28931.0
3367519,County,2021/11/20,MN,Winona County,8598.0,41886.0
3367520,County,2021/11/20,MN,Wright County,26100.0,112277.0
3367521,County,2021/11/20,MN,Yellow Medicine County,1828.0,7881.0

In [128]:
Filter_NM_County_Home_df = NM_County_Home_df[(NM_County_Home_df['Date'] > '2019-01-01') & (NM_County_Home_df['Date'] < '2021-01-01')]
Filter_NM_County_Home_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home
46400,County,2019/01/01,MN,Aitkin County,2837.0,13049.0
46402,County,2019/01/01,MN,Anoka County,77248.0,279673.0
46403,County,2019/01/01,MN,Becker County,6505.0,27918.0
46404,County,2019/01/01,MN,Beltrami County,7955.0,39233.0
46405,County,2019/01/01,MN,Benton County,8374.0,32515.0
...,...,...,...,...,...,...
2386232,County,2020/12/31,MN,Watonwan County,2744.0,8153.0
2386233,County,2020/12/31,MN,Wilkin County,1061.0,5146.0
2386234,County,2020/12/31,MN,Winona County,12281.0,38203.0
2386235,County,2020/12/31,MN,Wright County,31950.0,106427.0
2386236,County,2020/12/31,MN,Yellow Medicine County,2008.0,7701.0

NM County Table - Trips (in miles)

In [129]:
NM_County_Trips_df = NM_County_Travel_df.drop(['Population Staying at Home', 'Population Not Staying at Home'], axis=1)
NM_County_Trips_df

,Level,Date,State Postal Code,County Name,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
46400,County,2019/01/01,MN,Aitkin County,41437.0,7314.0,8105.0,5687.0,5717.0,7259.0,3728.0,2171.0,1289.0,121.0,46.0,0,1
46402,County,2019/01/01,MN,Anoka County,960687.0,220440.0,232141.0,101477.0,142130.0,181811.0,55304.0,12414.0,9907.0,2491.0,2572.0,0,1
46403,County,2019/01/01,MN,Becker County,96525.0,18195.0,25421.0,9840.0,16384.0,12260.0,7585.0,4868.0,1505.0,326.0,141.0,0,1
46404,County,2019/01/01,MN,Beltrami County,142830.0,29472.0,34488.0,20212.0,19144.0,21552.0,9621.0,4877.0,2900.0,372.0,192.0,0,1
46405,County,2019/01/01,MN,Benton County,115486.0,25847.0,29169.0,14558.0,16389.0,16816.0,5479.0,4693.0,1949.0,351.0,235.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3367517,County,2021/11/20,MN,Wilkin County,27996.0,4684.0,6353.0,2943.0,4849.0,6032.0,1712.0,1075.0,311.0,20.0,17.0,46,11
3367518,County,2021/11/20,MN,Becker County,143303.0,28614.0,34838.0,14967.0,23106.0,21323.0,11532.0,6394.0,2183.0,188.0,158.0,46,11
3367519,County,2021/11/20,MN,Winona County,225610.0,61395.0,58647.0,28944.0,22738.0,23563.0,21217.0,6759.0,2094.0,157.0,96.0,46,11
3367520,County,2021/11/20,MN,Wright County,555508.0,131136.0,133567.0,48745.0,50680.0,108188.0,62367.0,13410.0,6169.0,572.0,674.0,46,11
3367521,County,2021/11/20,MN,Yellow Medicine County,44092.0,11415.0,8592.0,4993.0,4426.0,8486.0,4027.0,1351.0,677.0,74.0,51.0,46,11

In [130]:
Filter_NM_County_Trips_df = NM_County_Trips_df[(NM_County_Trips_df['Date'] > '2019-01-01') & (NM_County_Trips_df['Date'] < '2021-01-01')]
Filter_NM_County_Trips_df

,Level,Date,State Postal Code,County Name,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
46400,County,2019/01/01,MN,Aitkin County,41437.0,7314.0,8105.0,5687.0,5717.0,7259.0,3728.0,2171.0,1289.0,121.0,46.0,0,1
46402,County,2019/01/01,MN,Anoka County,960687.0,220440.0,232141.0,101477.0,142130.0,181811.0,55304.0,12414.0,9907.0,2491.0,2572.0,0,1
46403,County,2019/01/01,MN,Becker County,96525.0,18195.0,25421.0,9840.0,16384.0,12260.0,7585.0,4868.0,1505.0,326.0,141.0,0,1
46404,County,2019/01/01,MN,Beltrami County,142830.0,29472.0,34488.0,20212.0,19144.0,21552.0,9621.0,4877.0,2900.0,372.0,192.0,0,1
46405,County,2019/01/01,MN,Benton County,115486.0,25847.0,29169.0,14558.0,16389.0,16816.0,5479.0,4693.0,1949.0,351.0,235.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2386232,County,2020/12/31,MN,Watonwan County,45657.0,16360.0,11275.0,2006.0,2615.0,5831.0,5565.0,999.0,809.0,182.0,15.0,52,12
2386233,County,2020/12/31,MN,Wilkin County,25872.0,5283.0,8374.0,2340.0,1849.0,3930.0,2466.0,1181.0,423.0,17.0,9.0,52,12
2386234,County,2020/12/31,MN,Winona County,166899.0,36804.0,39433.0,27274.0,19831.0,21319.0,16979.0,3675.0,1306.0,237.0,41.0,52,12
2386235,County,2020/12/31,MN,Wright County,459893.0,94452.0,112175.0,47188.0,60264.0,86131.0,42332.0,9796.0,6068.0,910.0,577.0,52,12
2386236,County,2020/12/31,MN,Yellow Medicine County,39938.0,10300.0,8035.0,3803.0,3978.0,8625.0,3263.0,1433.0,467.0,25.0,9.0,52,12

US Accidents CSV
----

In [131]:
csv_file_2 = "Resources/US_Accidents_Dec20_updated.csv"
US_Accidents_df = pd.read_csv(csv_file_2)
US_Accidents_df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2716600,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.10891,-83.09286,40.11206,-83.03187,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2716601,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.86542,-84.06280,39.86501,-84.04873,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-2716602,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10266,-84.52468,39.10209,-84.52396,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-2716603,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10148,-84.52341,39.09841,-84.52241,0.219,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
4,A-2716604,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.06213,-81.53784,41.06217,-81.53547,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day

In [132]:
US_Accidents_df2= US_Accidents_df['Start_Time'].str.split(" ", n = -1, expand = True)
US_Accidents_df2

                  0         1
0        2016-02-08  00:37:08
1        2016-02-08  05:56:20
2        2016-02-08  06:15:39
3        2016-02-08  06:15:39
4        2016-02-08  06:51:45
...             ...       ...
1516059  2019-08-23  18:03:25
1516060  2019-08-23  19:11:30
1516061  2019-08-23  19:00:21
1516062  2019-08-23  19:00:21
1516063  2019-08-23  18:52:06

[1516064 rows x 2 columns]

In [133]:
US_Accidents_df2.columns=['Date', 'Time']
US_Accidents_df2

               Date      Time
0        2016-02-08  00:37:08
1        2016-02-08  05:56:20
2        2016-02-08  06:15:39
3        2016-02-08  06:15:39
4        2016-02-08  06:51:45
...             ...       ...
1516059  2019-08-23  18:03:25
1516060  2019-08-23  19:11:30
1516061  2019-08-23  19:00:21
1516062  2019-08-23  19:00:21
1516063  2019-08-23  18:52:06

[1516064 rows x 2 columns]

In [134]:
US_Accidents_merged_df = US_Accidents_df2.join(US_Accidents_df)
US_Accidents_merged_df

,Date,Time,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,2016-02-08,00:37:08,A-2716600,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.10891,-83.09286,40.11206,-83.03187,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2016-02-08,05:56:20,A-2716601,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.86542,-84.06280,39.86501,-84.04873,...,False,False,False,False,False,False,Night,Night,Night,Night
2,2016-02-08,06:15:39,A-2716602,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10266,-84.52468,39.10209,-84.52396,...,False,False,False,False,False,False,Night,Night,Night,Day
3,2016-02-08,06:15:39,A-2716603,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10148,-84.52341,39.09841,-84.52241,...,False,False,False,False,False,False,Night,Night,Night,Day
4,2016-02-08,06:51:45,A-2716604,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.06213,-81.53784,41.06217,-81.53547,...,False,False,False,False,False,False,Night,Night,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516059,2019-08-23,18:03:25,A-4239402,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.00248,-117.37936,33.99888,-117.37094,...,False,False,False,False,False,False,Day,Day,Day,Day
1516060,2019-08-23,19:11:30,A-4239403,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.76696,-117.14806,32.76555,-117.15363,...,False,False,False,False,False,False,Day,Day,Day,Day
1516061,2019-08-23,19:00:21,A-4239404,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.77545,-117.84779,33.77740,-117.85727,...,False,False,False,False,False,False,Day,Day,Day,Day
1516062,2019-08-23,19:00:21,A-4239405,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.99246,-118.40302,33.98311,-118.39565,...,False,False,False,False,False,False,Day,Day,Day,Day
1516063,2019-08-23,18:52:06,A-4239406,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.13393,-117.23092,34.13736,-117.23934,...,False,False,False,False,False,False,Day,Day,Day,Day

In [135]:
US_Accidents_merged_df2 = US_Accidents_merged_df.drop(['Start_Time','End_Time','Start_Lat','Start_Lng','End_Lat','End_Lng','Airport_Code','Weather_Timestamp','Country','Timezone'], axis=1)
US_Accidents_merged_df2.head()

,Date,Time,ID,Severity,Distance(mi),Description,Number,Street,Side,City,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,2016-02-08,00:37:08,A-2716600,3,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,NaN,Outerbelt E,R,Dublin,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2016-02-08,05:56:20,A-2716601,2,0.747,At OH-4/OH-235/Exit 41 - Accident.,NaN,I-70 E,R,Dayton,...,False,False,False,False,False,False,Night,Night,Night,Night
2,2016-02-08,06:15:39,A-2716602,2,0.055,At I-71/US-50/Exit 1 - Accident.,NaN,I-75 S,R,Cincinnati,...,False,False,False,False,False,False,Night,Night,Night,Day
3,2016-02-08,06:15:39,A-2716603,2,0.219,At I-71/US-50/Exit 1 - Accident.,NaN,US-50 E,R,Cincinnati,...,False,False,False,False,False,False,Night,Night,Night,Day
4,2016-02-08,06:51:45,A-2716604,2,0.123,At Dart Ave/Exit 21 - Accident.,NaN,I-77 N,R,Akron,...,False,False,False,False,False,False,Night,Night,Day,Day

In [136]:
US_Accidents_merged_df2_cleaned = US_Accidents_merged_df2.fillna(0)
US_Accidents_merged_df2_cleaned.head()

,Date,Time,ID,Severity,Distance(mi),Description,Number,Street,Side,City,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,2016-02-08,00:37:08,A-2716600,3,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,0.0,Outerbelt E,R,Dublin,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2016-02-08,05:56:20,A-2716601,2,0.747,At OH-4/OH-235/Exit 41 - Accident.,0.0,I-70 E,R,Dayton,...,False,False,False,False,False,False,Night,Night,Night,Night
2,2016-02-08,06:15:39,A-2716602,2,0.055,At I-71/US-50/Exit 1 - Accident.,0.0,I-75 S,R,Cincinnati,...,False,False,False,False,False,False,Night,Night,Night,Day
3,2016-02-08,06:15:39,A-2716603,2,0.219,At I-71/US-50/Exit 1 - Accident.,0.0,US-50 E,R,Cincinnati,...,False,False,False,False,False,False,Night,Night,Night,Day
4,2016-02-08,06:51:45,A-2716604,2,0.123,At Dart Ave/Exit 21 - Accident.,0.0,I-77 N,R,Akron,...,False,False,False,False,False,False,Night,Night,Day,Day

In [137]:
US_Accidents_merged_df3_cleaned = US_Accidents_merged_df2_cleaned.rename(columns={"Number": "Street Number",})
US_Accidents_merged_df3_cleaned

,Date,Time,ID,Severity,Distance(mi),Description,Street Number,Street,Side,City,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,2016-02-08,00:37:08,A-2716600,3,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,0.0,Outerbelt E,R,Dublin,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2016-02-08,05:56:20,A-2716601,2,0.747,At OH-4/OH-235/Exit 41 - Accident.,0.0,I-70 E,R,Dayton,...,False,False,False,False,False,False,Night,Night,Night,Night
2,2016-02-08,06:15:39,A-2716602,2,0.055,At I-71/US-50/Exit 1 - Accident.,0.0,I-75 S,R,Cincinnati,...,False,False,False,False,False,False,Night,Night,Night,Day
3,2016-02-08,06:15:39,A-2716603,2,0.219,At I-71/US-50/Exit 1 - Accident.,0.0,US-50 E,R,Cincinnati,...,False,False,False,False,False,False,Night,Night,Night,Day
4,2016-02-08,06:51:45,A-2716604,2,0.123,At Dart Ave/Exit 21 - Accident.,0.0,I-77 N,R,Akron,...,False,False,False,False,False,False,Night,Night,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516059,2019-08-23,18:03:25,A-4239402,2,0.543,At Market St - Accident.,0.0,Pomona Fwy E,R,Riverside,...,False,False,False,False,False,False,Day,Day,Day,Day
1516060,2019-08-23,19:11:30,A-4239403,2,0.338,At Camino Del Rio/Mission Center Rd - Accident.,0.0,I-8 W,R,San Diego,...,False,False,False,False,False,False,Day,Day,Day,Day
1516061,2019-08-23,19:00:21,A-4239404,2,0.561,At Glassell St/Grand Ave - Accident. in the ri...,0.0,Garden Grove Fwy,R,Orange,...,False,False,False,False,False,False,Day,Day,Day,Day
1516062,2019-08-23,19:00:21,A-4239405,2,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,0.0,San Diego Fwy S,R,Culver City,...,False,False,False,False,False,False,Day,Day,Day,Day
1516063,2019-08-23,18:52:06,A-4239406,2,0.537,At Highland Ave/Arden Ave - Accident.,0.0,CA-210 W,R,Highland,...,False,False,False,False,False,False,Day,Day,Day,Day

In [168]:
Filter_US_Accidents_df = US_Accidents_merged_df3_cleaned[(US_Accidents_merged_df3_cleaned['Date'] > '2019-01-01') & (US_Accidents_merged_df3_cleaned['Date'] < '2021-01-01')]
Filter_US_Accidents_df

,Date,Time,ID,Severity,Distance(mi),Description,Street Number,Street,Side,City,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
237331,2020-11-01,22:33:04,A-2953938,2,0.436,Incident on I-83 SB near EXIT 27 Road closed. ...,0.0,I-83 S,R,Parkton,...,False,False,False,False,False,False,Night,Night,Night,Night
237332,2020-12-14,14:19:00,A-2953939,2,0.361,WB 580 JEO 680. SV BIG RIG FB TRLR,0.0,I-580 W,R,Dublin,...,False,False,False,False,False,False,Day,Day,Day,Day
237333,2020-12-31,19:20:00,A-2953940,2,0.310,Incident on US-101 SB near CA-152 Right should...,0.0,S Valley Fwy S,R,Gilroy,...,False,False,False,False,False,False,Night,Night,Night,Night
237334,2020-10-15,23:03:55,A-2953941,2,1.169,Incident on I-95 NB near EXIT 74 Drive with ca...,0.0,I-95 N,R,Joppa,...,False,False,False,False,False,False,Night,Night,Night,Night
237335,2020-12-01,14:15:55,A-2953942,2,0.705,Incident on MD-100 WB near EXIT 2 Drive with c...,0.0,MD-100 W,R,Ellicott City,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516059,2019-08-23,18:03:25,A-4239402,2,0.543,At Market St - Accident.,0.0,Pomona Fwy E,R,Riverside,...,False,False,False,False,False,False,Day,Day,Day,Day
1516060,2019-08-23,19:11:30,A-4239403,2,0.338,At Camino Del Rio/Mission Center Rd - Accident.,0.0,I-8 W,R,San Diego,...,False,False,False,False,False,False,Day,Day,Day,Day
1516061,2019-08-23,19:00:21,A-4239404,2,0.561,At Glassell St/Grand Ave - Accident. in the ri...,0.0,Garden Grove Fwy,R,Orange,...,False,False,False,False,False,False,Day,Day,Day,Day
1516062,2019-08-23,19:00:21,A-4239405,2,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,0.0,San Diego Fwy S,R,Culver City,...,False,False,False,False,False,False,Day,Day,Day,Day
1516063,2019-08-23,18:52:06,A-4239406,2,0.537,At Highland Ave/Arden Ave - Accident.,0.0,CA-210 W,R,Highland,...,False,False,False,False,False,False,Day,Day,Day,Day

In [170]:
list(Filter_US_Accidents_df.columns)

['Date',
 'Time',
 'ID',
 'Severity',
 'Distance(mi)',
 'Description',
 'Street Number',
 'Street',
 'Side',
 'City',
 'County',
 'State',
 'Zipcode',
 'Temperature(F)',
 'Wind_Chill(F)',
 'Humidity(%)',
 'Pressure(in)',
 'Visibility(mi)',
 'Wind_Direction',
 'Wind_Speed(mph)',
 'Precipitation(in)',
 'Weather_Condition',
 'Amenity',
 'Bump',
 'Crossing',
 'Give_Way',
 'Junction',
 'No_Exit',
 'Railway',
 'Roundabout',
 'Station',
 'Stop',
 'Traffic_Calming',
 'Traffic_Signal',
 'Turning_Loop',
 'Sunrise_Sunset',
 'Civil_Twilight',
 'Nautical_Twilight',
 'Astronomical_Twilight']

US Accidents Tables
----

In [194]:
Final_Accidents_df = Filter_US_Accidents_df.set_index('ID')
Final_Accidents_df

,Date,Time,Severity,Distance(mi),Description,Street Number,Street,Side,City,County,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
ID,,,,,,,,,,,,,,,,,,,,,
A-2953938,2020-11-01,22:33:04,2,0.436,Incident on I-83 SB near EXIT 27 Road closed. ...,0.0,I-83 S,R,Parkton,Baltimore County,...,False,False,False,False,False,False,Night,Night,Night,Night
A-2953939,2020-12-14,14:19:00,2,0.361,WB 580 JEO 680. SV BIG RIG FB TRLR,0.0,I-580 W,R,Dublin,Alameda,...,False,False,False,False,False,False,Day,Day,Day,Day
A-2953940,2020-12-31,19:20:00,2,0.310,Incident on US-101 SB near CA-152 Right should...,0.0,S Valley Fwy S,R,Gilroy,Santa Clara,...,False,False,False,False,False,False,Night,Night,Night,Night
A-2953941,2020-10-15,23:03:55,2,1.169,Incident on I-95 NB near EXIT 74 Drive with ca...,0.0,I-95 N,R,Joppa,Harford,...,False,False,False,False,False,False,Night,Night,Night,Night
A-2953942,2020-12-01,14:15:55,2,0.705,Incident on MD-100 WB near EXIT 2 Drive with c...,0.0,MD-100 W,R,Ellicott City,Howard,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A-4239402,2019-08-23,18:03:25,2,0.543,At Market St - Accident.,0.0,Pomona Fwy E,R,Riverside,Riverside,...,False,False,False,False,False,False,Day,Day,Day,Day
A-4239403,2019-08-23,19:11:30,2,0.338,At Camino Del Rio/Mission Center Rd - Accident.,0.0,I-8 W,R,San Diego,San Diego,...,False,False,False,False,False,False,Day,Day,Day,Day
A-4239404,2019-08-23,19:00:21,2,0.561,At Glassell St/Grand Ave - Accident. in the ri...,0.0,Garden Grove Fwy,R,Orange,Orange,...,False,False,False,False,False,False,Day,Day,Day,Day
A-4239405,2019-08-23,19:00:21,2,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,0.0,San Diego Fwy S,R,Culver City,Los Angeles,...,False,False,False,False,False,False,Day,Day,Day,Day
A-4239406,2019-08-23,18:52:06,2,0.537,At Highland Ave/Arden Ave - Accident.,0.0,CA-210 W,R,Highland,San Bernardino,...,False,False,False,False,False,False,Day,Day,Day,Day

MA Accident Tables
----

MA Accidents Table - By Weather

In [196]:
MA_Acc_df = Final_Accidents_df.loc[Final_Accidents_df['State'] == 'MA']
MA_Acc_df

,Date,Time,Severity,Distance(mi),Description,Street Number,Street,Side,City,County,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
ID,,,,,,,,,,,,,,,,,,,,,
A-2954183,2020-10-19,18:42:00,2,0.593,I-190 Northbound at Exit(6) RT-12/Leominster Rd,0.0,I-190 N,R,Sterling,Worcester,...,False,False,False,False,False,False,Night,Night,Day,Day
A-2954221,2020-11-26,23:21:00,2,0.021,I-93 Northbound at Exit (44A/B) I-495,0.0,I-495 N,R,Andover,Essex,...,False,False,False,False,False,False,Night,Night,Night,Night
A-2954934,2020-12-04,00:08:00,2,0.025,Accident on Central St (Massachusetts Ave/MA-1...,574.0,Massachusetts Ave,R,Acton,Middlesex,...,False,False,True,False,False,False,Night,Night,Night,Night
A-2955698,2020-11-05,22:03:00,2,0.004,RT-125 Northbound at Great Pond Rd,0.0,Osgood St,R,North Andover,Essex,...,False,False,False,False,True,False,Night,Night,Night,Night
A-2957269,2020-11-11,01:40:00,2,0.039,I-90 Eastbound at Park Rd,0.0,Park Rd,R,Weston,Middlesex,...,False,False,False,False,False,False,Night,Night,Night,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A-4237915,2019-08-21,18:01:55,2,0.418,At RT-2A/Marrett Rd/Exit 30 - Accident.,0.0,MA-128 S,R,Lexington,Middlesex,...,False,False,False,False,False,False,Day,Day,Day,Day
A-4238449,2019-08-22,08:41:32,2,0.327,At RT-28/NB Exit 28/SB Exit 26A - Accident.,0.0,I-93 S,R,Charlestown,Suffolk,...,False,False,False,False,False,False,Day,Day,Day,Day
A-4238990,2019-08-23,21:40:04,2,0.163,Between RT-62/Exit 22 and Trask Ln/Exit 21 - A...,0.0,MA-128 N,R,Danvers,Essex,...,False,False,False,False,False,False,Night,Night,Night,Night
A-4238996,2019-08-23,16:22:17,2,0.442,At RT-27/Exit 18 - Accident.,0.0,MA-24 S,R,Brockton,Plymouth,...,False,False,False,False,False,False,Day,Day,Day,Day
A-4239006,2019-08-23,19:12:21,2,0.545,Between RT-12/Exit 6 and RT-117/Exit 7 - Accid...,0.0,I-190 N,R,Sterling,Worcester,...,False,False,False,False,False,False,Day,Day,Day,Day

In [197]:
#MA_Acc_Weather_df2 = MA_Acc_Weather_df.drop(['Amenity','Bump','Crossing','Give_Way','Junction','No_Exit','Railway','Roundabout',
                                             #'Station','Stop','Traffic_Calming','Traffic_Signal','Turning_Loop'], axis=1)
#MA_Acc_Weather_df2

In [198]:
#MA_Acc_Location_df = MA_Acc_Weather_df.drop(['Temperature(F)','Wind_Chill(F)','Humidity(%)','Pressure(in)','Visibility(mi)',
                                            # 'Wind_Direction','Wind_Speed(mph)','Precipitation(in)', 'Weather_Condition',
                                             # 'Sunrise_Sunset','Civil_Twilight','Nautical_Twilight','Astronomical_Twilight'], axis=1)
#MA_Acc_Location_df

NM Accident Tables
----

In [199]:
NM_Acc_df = Final_Accidents_df.loc[Final_Accidents_df['State'] == 'MN']
NM_Acc_df

,Date,Time,Severity,Distance(mi),Description,Street Number,Street,Side,City,County,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
ID,,,,,,,,,,,,,,,,,,,,,
A-2954017,2020-10-30,07:24:08,2,0.594,Incident on MN-15 SB near 18TH ST Drive with c...,0.0,MN-15,R,Sauk Rapids,Benton,...,False,False,False,False,False,False,Night,Day,Day,Day
A-2954018,2020-11-01,19:10:21,2,0.524,Incident on I-494 WB near I-35W Drive with cau...,0.0,I-494 W,R,Minneapolis,Hennepin,...,False,False,False,False,False,False,Night,Night,Night,Night
A-2954025,2020-09-16,21:32:30,2,2.847,Stationary traffic on I-94 from I-494 (I-94) t...,0.0,I-94 W,R,Osseo,Hennepin,...,False,False,False,False,False,False,Night,Night,Night,Night
A-2954034,2020-12-29,08:00:00,2,0.984,Incident on I-694 EB near EXIT 46 Road closed....,0.0,I-694 E,R,Saint Paul,Ramsey,...,False,False,False,False,False,False,Day,Day,Day,Day
A-2954065,2020-12-20,16:51:18,2,13.763,Incident on I-94 WB near CR-46 Drive with caut...,0.0,I-94 W,R,Osakis,Douglas,...,False,False,False,False,False,False,Night,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A-4238073,2019-08-21,09:04:51,2,1.544,Between Xenia Ave/Park Pl/Exit 5 and MN-100/Ex...,0.0,I-394 E,R,Minneapolis,Hennepin,...,False,False,False,False,False,False,Day,Day,Day,Day
A-4238074,2019-08-21,09:15:23,2,0.945,Between Airport Rd and I-35w - Accident.,0.0,US-10 E,R,Minneapolis,Anoka,...,False,False,False,False,False,False,Day,Day,Day,Day
A-4238075,2019-08-21,09:17:30,2,0.181,At 65 - Accident. Lane blocked.,0.0,I-494 W,R,South Saint Paul,Dakota,...,False,False,False,False,False,False,Day,Day,Day,Day
A-4238076,2019-08-21,10:21:23,2,0.339,At 36th St - Accident. Lane blocked.,0.0,US-169 S,R,Minneapolis,Hennepin,...,False,False,False,False,False,False,Day,Day,Day,Day
A-4238641,2019-08-22,16:04:11,4,0.806,Closed between MN-36/MN-280/Exit 23 and MN-280...,0.0,MN-280,R,Saint Paul,Ramsey,...,False,False,False,False,False,False,Day,Day,Day,Day

In [200]:
#NM_Acc_Weather_df2 = NM_Acc_Weather_df.drop(['Amenity','Bump','Crossing','Give_Way','Junction','No_Exit','Railway','Roundabout',
                                            # 'Station','Stop','Traffic_Calming','Traffic_Signal','Turning_Loop'], axis=1)
#NM_Acc_Weather_df2

In [201]:
#NM_Acc_Location_df = NM_Acc_Weather_df.drop(['Temperature(F)','Wind_Chill(F)','Humidity(%)','Pressure(in)','Visibility(mi)',
                                             #'Wind_Direction','Wind_Speed(mph)','Precipitation(in)', 'Weather_Condition',
                                             # 'Sunrise_Sunset','Civil_Twilight','Nautical_Twilight','Astronomical_Twilight'], axis=1)
#NM_Acc_Location_df

Import Tables into pgAdmin
----

In [202]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/trips_vs_accidents_db')
connection = engine.connect()

In [203]:
engine.table_names()

<ipython-input-203-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

[]

In [204]:
Filter_National_Home_df.to_sql(name='national_population_at_home', con=engine, if_exists='append', index=True)

In [205]:
pd.read_sql_query('select * from national_population_at_home', con=engine).head()

,index,Level,Date,Population Staying at Home,Population Not Staying at Home
0,0,National,2019/01/01,77433867.0,248733553.0
1,1,National,2019/01/02,61305201.0,264862219.0
2,2,National,2019/01/03,63050480.0,263116940.0
3,3,National,2019/01/04,61803652.0,264363768.0
4,4,National,2019/01/05,64389745.0,261777675.0

In [206]:
Filter_National_Trips_df.to_sql(name='national_trips', con=engine, if_exists='append', index=True)

In [207]:
pd.read_sql_query('select * from national_trips', con=engine).head()

,index,Level,Date,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,0,National,2019/01/01,8.977844e+08,241667151.0,234284795.0,108078903.0,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,0,1
1,1,National,2019/01/02,1.139452e+09,291276735.0,285887315.0,138039296.0,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,0,1
2,2,National,2019/01/03,1.162753e+09,296375014.0,290074425.0,140771581.0,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,0,1
3,3,National,2019/01/04,1.181954e+09,293159631.0,295643296.0,145251819.0,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,0,1
4,4,National,2019/01/05,1.180477e+09,295459014.0,304168709.0,148540651.0,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,0,1

In [211]:
Filter_State_Home_df.to_sql(name='state_population_at_home', con=engine, if_exists='append', index=True)

In [212]:
pd.read_sql_query('select * from state_population_at_home', con=engine).head()

,index,Level,Date,State Postal Code,Population Staying at Home,Population Not Staying at Home
0,887,State,2019/01/01,NV,753054.0,2272063.0
1,888,State,2019/01/01,FL,4524666.0,16709556.0
2,889,State,2019/01/01,DC,241030.0,459278.0
3,890,State,2019/01/01,DE,224457.0,739757.0
4,891,State,2019/01/01,CT,853894.0,2707851.0

In [213]:
Filter_State_Travel_df.to_sql(name='state_trips', con=engine, if_exists='append', index=True)

In [214]:
pd.read_sql_query('select * from state_trips', con=engine).head()

,index,Level,Date,State Postal Code,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,887,State,2019/01/01,NV,9139676.0,2999886.0,2181216.0,1039500.0,1378024.0,1108436.0,222837.0,93301.0,73578.0,24471.0,18427.0,0,1
1,888,State,2019/01/01,FL,55258300.0,16036792.0,14469767.0,6658624.0,7977612.0,6604304.0,2113009.0,796740.0,412224.0,95341.0,93887.0,0,1
2,889,State,2019/01/01,DC,3114055.0,1314825.0,833796.0,367547.0,344116.0,183744.0,42096.0,10730.0,8109.0,3476.0,5616.0,0,1
3,890,State,2019/01/01,DE,2420942.0,584323.0,640348.0,305441.0,370359.0,314102.0,128454.0,50542.0,22701.0,2474.0,2198.0,0,1
4,891,State,2019/01/01,CT,9468961.0,2375021.0,2618933.0,1189575.0,1331356.0,1211252.0,449947.0,192960.0,56618.0,12031.0,31268.0,0,1

In [215]:
MA_Travel_Home_df.to_sql(name='ma_population_at_home', con=engine, if_exists='append', index=True)

In [216]:
pd.read_sql_query('select * from ma_population_at_home', con=engine).head()

,index,Level,Date,State Postal Code,Population Staying at Home,Population Not Staying at Home
0,929,State,2019/01/01,MA,1798521.0,5082532.0
1,962,State,2019/01/02,MA,1408154.0,5472899.0
2,1017,State,2019/01/03,MA,1442723.0,5438330.0
3,1076,State,2019/01/04,MA,1440797.0,5440256.0
4,1092,State,2019/01/05,MA,1499659.0,5381394.0

In [221]:
MA_Travel_Trips_df.to_sql(name='ma_trips', con=engine, if_exists='append', index=True)

In [222]:
pd.read_sql_query('select * from ma_trips', con=engine).head()

,index,Level,Date,State Postal Code,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,929,State,2019/01/01,MA,22181890.0,6078316.0,5980407.0,2680470.0,3106759.0,2817590.0,1021091.0,316642.0,104691.0,18791.0,57133.0,0,1
1,962,State,2019/01/02,MA,28125611.0,7237304.0,7219021.0,3438621.0,4122162.0,4178675.0,1413952.0,336420.0,106300.0,21239.0,51917.0,0,1
2,1017,State,2019/01/03,MA,28117808.0,7265580.0,7161397.0,3444979.0,4128933.0,4217732.0,1391118.0,329791.0,102938.0,21196.0,54144.0,0,1
3,1076,State,2019/01/04,MA,28630786.0,7165246.0,7391199.0,3582607.0,4284623.0,4259228.0,1404307.0,347550.0,115732.0,24146.0,56148.0,0,1
4,1092,State,2019/01/05,MA,28083625.0,7070600.0,7527639.0,3584861.0,4206453.0,3890073.0,1276922.0,350908.0,109370.0,20830.0,45969.0,0,1

In [223]:
Filter_MA_County_Home_df.to_sql(name='ma_county_population_at_home', con=engine, if_exists='append', index=True)

In [224]:
pd.read_sql_query('select * from ma_county_population_at_home', con=engine).head()

,index,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home
0,46302,County,2019/01/01,MA,Barnstable County,53475.0,159515.0
1,46303,County,2019/01/01,MA,Berkshire County,36896.0,88048.0
2,46304,County,2019/01/01,MA,Bristol County,131116.0,434101.0
3,46305,County,2019/01/01,MA,Dukes County,4445.0,12887.0
4,46306,County,2019/01/01,MA,Essex County,206991.0,582043.0

In [225]:
Filter_MA_County_Trips_df.to_sql(name='ma_county_trips', con=engine, if_exists='append', index=True)

In [226]:
pd.read_sql_query('select * from ma_county_trips', con=engine).head()

,index,Level,Date,State Postal Code,County Name,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,46302,County,2019/01/01,MA,Barnstable County,705244.0,175638.0,190704.0,94817.0,115479.0,82692.0,21815.0,17016.0,4754.0,678.0,1651.0,0,1
1,46303,County,2019/01/01,MA,Berkshire County,368559.0,90691.0,112628.0,49392.0,48926.0,42353.0,13575.0,6911.0,2783.0,343.0,957.0,0,1
2,46304,County,2019/01/01,MA,Bristol County,1935282.0,486151.0,510317.0,247813.0,258738.0,282266.0,106311.0,33658.0,6262.0,1152.0,2614.0,0,1
3,46305,County,2019/01/01,MA,Dukes County,54918.0,13118.0,17828.0,7528.0,10320.0,3438.0,1204.0,805.0,531.0,32.0,114.0,0,1
4,46306,County,2019/01/01,MA,Essex County,2545997.0,717552.0,710218.0,308116.0,338807.0,301835.0,122824.0,29109.0,10678.0,2021.0,4837.0,0,1

In [229]:
MN_Travel_Home_df.to_sql(name='nm_population_at_home', con=engine, if_exists='append', index=True)

In [230]:
pd.read_sql_query('select * from nm_population_at_home', con=engine).head()

,index,Level,Date,State Postal Code,Population Staying at Home,Population Not Staying at Home
0,933,State,2019/01/01,MN,1266769.0,4327262.0
1,976,State,2019/01/02,MN,999164.0,4594867.0
2,1019,State,2019/01/03,MN,1031386.0,4562645.0
3,1078,State,2019/01/04,MN,1006305.0,4587726.0
4,1094,State,2019/01/05,MN,1042887.0,4551144.0

In [231]:
MN_Travel_Trips_df.to_sql(name='nm_trips', con=engine, if_exists='append', index=True)

In [232]:
pd.read_sql_query('select * from nm_trips', con=engine).head()

,index,Level,Date,State Postal Code,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,933,State,2019/01/01,MN,15278584.0,3589616.0,3806602.0,1772986.0,2246949.0,2419710.0,830948.0,337906.0,187197.0,42524.0,44146.0,0,1
1,976,State,2019/01/02,MN,20024328.0,4599433.0,4779143.0,2320660.0,3039570.0,3494070.0,1151921.0,369683.0,184207.0,45613.0,40028.0,0,1
2,1019,State,2019/01/03,MN,20696247.0,4786125.0,4874563.0,2375217.0,3143072.0,3593594.0,1212432.0,408361.0,205839.0,52901.0,44143.0,0,1
3,1078,State,2019/01/04,MN,21131923.0,4795853.0,4976137.0,2470200.0,3221775.0,3665531.0,1224555.0,442407.0,234558.0,56358.0,44549.0,0,1
4,1094,State,2019/01/05,MN,20987882.0,4813577.0,5052214.0,2523646.0,3221947.0,3434203.0,1169907.0,459252.0,222020.0,50782.0,40334.0,0,1

In [235]:
Filter_NM_County_Home_df.to_sql(name='nm_county_population_at_home', con=engine, if_exists='append', index=True)

In [236]:
pd.read_sql_query('select * from nm_county_population_at_home', con=engine).head()

,index,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home
0,46400,County,2019/01/01,MN,Aitkin County,2837.0,13049.0
1,46402,County,2019/01/01,MN,Anoka County,77248.0,279673.0
2,46403,County,2019/01/01,MN,Becker County,6505.0,27918.0
3,46404,County,2019/01/01,MN,Beltrami County,7955.0,39233.0
4,46405,County,2019/01/01,MN,Benton County,8374.0,32515.0

In [237]:
Filter_NM_County_Trips_df.to_sql(name='nm_county_trips', con=engine, if_exists='append', index=True)

In [238]:
pd.read_sql_query('select * from nm_county_trips', con=engine).head()

,index,Level,Date,State Postal Code,County Name,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,46400,County,2019/01/01,MN,Aitkin County,41437.0,7314.0,8105.0,5687.0,5717.0,7259.0,3728.0,2171.0,1289.0,121.0,46.0,0,1
1,46402,County,2019/01/01,MN,Anoka County,960687.0,220440.0,232141.0,101477.0,142130.0,181811.0,55304.0,12414.0,9907.0,2491.0,2572.0,0,1
2,46403,County,2019/01/01,MN,Becker County,96525.0,18195.0,25421.0,9840.0,16384.0,12260.0,7585.0,4868.0,1505.0,326.0,141.0,0,1
3,46404,County,2019/01/01,MN,Beltrami County,142830.0,29472.0,34488.0,20212.0,19144.0,21552.0,9621.0,4877.0,2900.0,372.0,192.0,0,1
4,46405,County,2019/01/01,MN,Benton County,115486.0,25847.0,29169.0,14558.0,16389.0,16816.0,5479.0,4693.0,1949.0,351.0,235.0,0,1

In [239]:
Final_Accidents_df.to_sql(name='us_accidents', con=engine, if_exists='append', index=True)

In [240]:
pd.read_sql_query('select * from us_accidents', con=engine).head()

,ID,Date,Time,Severity,Distance(mi),Description,Street Number,Street,Side,City,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2953938,2020-11-01,22:33:04,2,0.436,Incident on I-83 SB near EXIT 27 Road closed. ...,0.0,I-83 S,R,Parkton,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2953939,2020-12-14,14:19:00,2,0.361,WB 580 JEO 680. SV BIG RIG FB TRLR,0.0,I-580 W,R,Dublin,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-2953940,2020-12-31,19:20:00,2,0.310,Incident on US-101 SB near CA-152 Right should...,0.0,S Valley Fwy S,R,Gilroy,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-2953941,2020-10-15,23:03:55,2,1.169,Incident on I-95 NB near EXIT 74 Drive with ca...,0.0,I-95 N,R,Joppa,...,False,False,False,False,False,False,Night,Night,Night,Night
4,A-2953942,2020-12-01,14:15:55,2,0.705,Incident on MD-100 WB near EXIT 2 Drive with c...,0.0,MD-100 W,R,Ellicott City,...,False,False,False,False,False,False,Day,Day,Day,Day

In [241]:
MA_Acc_df.to_sql(name='ma_accidents', con=engine, if_exists='append', index=True)

In [243]:
pd.read_sql_query('select * from ma_accidents', con=engine).head()

,ID,Date,Time,Severity,Distance(mi),Description,Street Number,Street,Side,City,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2954183,2020-10-19,18:42:00,2,0.593,I-190 Northbound at Exit(6) RT-12/Leominster Rd,0.0,I-190 N,R,Sterling,...,False,False,False,False,False,False,Night,Night,Day,Day
1,A-2954221,2020-11-26,23:21:00,2,0.021,I-93 Northbound at Exit (44A/B) I-495,0.0,I-495 N,R,Andover,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-2954934,2020-12-04,00:08:00,2,0.025,Accident on Central St (Massachusetts Ave/MA-1...,574.0,Massachusetts Ave,R,Acton,...,False,False,True,False,False,False,Night,Night,Night,Night
3,A-2955698,2020-11-05,22:03:00,2,0.004,RT-125 Northbound at Great Pond Rd,0.0,Osgood St,R,North Andover,...,False,False,False,False,True,False,Night,Night,Night,Night
4,A-2957269,2020-11-11,01:40:00,2,0.039,I-90 Eastbound at Park Rd,0.0,Park Rd,R,Weston,...,False,False,False,False,False,False,Night,Night,Night,Night

In [245]:
NM_Acc_df.to_sql(name='nm_accidents', con=engine, if_exists='append', index=True)

In [246]:
pd.read_sql_query('select * from nm_accidents', con=engine).head()

,ID,Date,Time,Severity,Distance(mi),Description,Street Number,Street,Side,City,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2954017,2020-10-30,07:24:08,2,0.594,Incident on MN-15 SB near 18TH ST Drive with c...,0.0,MN-15,R,Sauk Rapids,...,False,False,False,False,False,False,Night,Day,Day,Day
1,A-2954018,2020-11-01,19:10:21,2,0.524,Incident on I-494 WB near I-35W Drive with cau...,0.0,I-494 W,R,Minneapolis,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-2954025,2020-09-16,21:32:30,2,2.847,Stationary traffic on I-94 from I-494 (I-94) t...,0.0,I-94 W,R,Osseo,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-2954034,2020-12-29,08:00:00,2,0.984,Incident on I-694 EB near EXIT 46 Road closed....,0.0,I-694 E,R,Saint Paul,...,False,False,False,False,False,False,Day,Day,Day,Day
4,A-2954065,2020-12-20,16:51:18,2,13.763,Incident on I-94 WB near CR-46 Drive with caut...,0.0,I-94 W,R,Osakis,...,False,False,False,False,False,False,Night,Day,Day,Day