#Transportation by Distance Vs Accidents
----

In [1]:
import pandas as pd
import numpy as np
import psycopg2
import sqlalchemy 
from sqlalchemy import create_engine

from config import username, password

In [5]:
csv_file = "Resources/Trips_by_Distance.csv"
travel_distance_df = pd.read_csv(csv_file)
travel_distance_df.head()

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
0,National,2019/01/01,NaN,NaN,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,...,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101,0,1
1,National,2019/01/02,NaN,NaN,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,...,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102,0,1
2,National,2019/01/03,NaN,NaN,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,...,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103,0,1
3,National,2019/01/04,NaN,NaN,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,...,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104,0,1
4,National,2019/01/05,NaN,NaN,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,...,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105,0,1

In [8]:
travel_distance_df_cleaned = travel_distance_df.drop(['State FIPS', 'County FIPS',  'Row ID'], axis=1)
travel_distance_df_cleaned.head()

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,National,2019/01/01,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,234284795.0,108078903.0,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,0,1
1,National,2019/01/02,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,285887315.0,138039296.0,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,0,1
2,National,2019/01/03,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,290074425.0,140771581.0,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,0,1
3,National,2019/01/04,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,295643296.0,145251819.0,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,0,1
4,National,2019/01/05,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,304168709.0,148540651.0,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,0,1

In [11]:
travel_distance_df_cleaned2 = travel_distance_df_cleaned.fillna(0)
travel_distance_df_cleaned2.head()

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,National,2019/01/01,0,0,77433867.0,248733553.0,8.977844e+08,241667151.0,234284795.0,108078903.0,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,0,1
1,National,2019/01/02,0,0,61305201.0,264862219.0,1.139452e+09,291276735.0,285887315.0,138039296.0,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,0,1
2,National,2019/01/03,0,0,63050480.0,263116940.0,1.162753e+09,296375014.0,290074425.0,140771581.0,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,0,1
3,National,2019/01/04,0,0,61803652.0,264363768.0,1.181954e+09,293159631.0,295643296.0,145251819.0,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,0,1
4,National,2019/01/05,0,0,64389745.0,261777675.0,1.180477e+09,295459014.0,304168709.0,148540651.0,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,0,1

In [40]:
National_Travel_df = travel_distance_df_cleaned2.loc[travel_distance_df_cleaned2['Level'] == 'National']
National_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,National,2019/01/01,0,0,77433867.0,248733553.0,8.977844e+08,241667151.0,234284795.0,108078903.0,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,0,1
1,National,2019/01/02,0,0,61305201.0,264862219.0,1.139452e+09,291276735.0,285887315.0,138039296.0,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,0,1
2,National,2019/01/03,0,0,63050480.0,263116940.0,1.162753e+09,296375014.0,290074425.0,140771581.0,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,0,1
3,National,2019/01/04,0,0,61803652.0,264363768.0,1.181954e+09,293159631.0,295643296.0,145251819.0,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,0,1
4,National,2019/01/05,0,0,64389745.0,261777675.0,1.180477e+09,295459014.0,304168709.0,148540651.0,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369665,National,2021/11/16,0,0,70666095.0,257573428.0,1.422332e+09,422971622.0,347569809.0,163055860.0,204335363.0,193540842.0,60770560.0,19271631.0,7869865.0,1718347.0,1228392.0,46,11
3369666,National,2021/11/17,0,0,70574570.0,257664953.0,1.479584e+09,445753387.0,366818268.0,168524802.0,208627236.0,197022938.0,61932963.0,19783029.0,8117723.0,1753566.0,1249879.0,46,11
3369667,National,2021/11/18,0,0,73652360.0,254587163.0,1.292774e+09,371718902.0,313351056.0,149167497.0,189716076.0,182150488.0,57863078.0,18482503.0,7544739.0,1618055.0,1161865.0,46,11
3369668,National,2021/11/19,0,0,69922037.0,258317486.0,1.455510e+09,431065435.0,354953324.0,166412148.0,207986642.0,196890342.0,62422373.0,21719535.0,10593977.0,2149691.0,1316162.0,46,11
3369669,National,2021/11/20,0,0,71570761.0,256668762.0,1.313031e+09,382700511.0,322267131.0,151982036.0,187261840.0,172561339.0,58442081.0,24139924.0,10658687.0,1830338.0,1186846.0,46,11

In [42]:
County_Travel_df = travel_distance_df_cleaned2.loc[travel_distance_df_cleaned2['Level'] == 'County']
County_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
21061,County,2021/06/06,WY,Weston County,1268.0,5659.0,22471.0,4160.0,2601.0,948.0,1558.0,5723.0,2202.0,3930.0,1160.0,166.0,23.0,23,6
22762,County,2021/06/06,AR,Bradley County,1780.0,8983.0,25022.0,3411.0,4145.0,5901.0,4321.0,3343.0,1793.0,1383.0,690.0,35.0,0.0,23,6
22763,County,2021/06/06,AR,Calhoun County,571.0,4618.0,17543.0,2166.0,2168.0,3195.0,3600.0,4277.0,1141.0,530.0,425.0,41.0,0.0,23,6
22764,County,2021/06/06,AR,Carroll County,4386.0,23994.0,77047.0,14712.0,16029.0,11434.0,13170.0,14712.0,4272.0,1227.0,1323.0,132.0,36.0,23,6
22765,County,2021/06/06,AR,Chicot County,1356.0,8762.0,31550.0,9483.0,6752.0,4547.0,3929.0,3857.0,1380.0,580.0,957.0,61.0,4.0,23,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369301,County,2021/11/20,WY,Laramie County,17238.0,82262.0,487293.0,140207.0,161578.0,88721.0,58378.0,17584.0,5860.0,8960.0,5201.0,398.0,406.0,46,11
3369302,County,2021/11/20,WY,Lincoln County,3731.0,16099.0,80829.0,16104.0,22831.0,9499.0,8651.0,11486.0,5444.0,5020.0,1640.0,104.0,50.0,46,11
3369303,County,2021/11/20,WY,Natrona County,16858.0,63000.0,385677.0,125975.0,107611.0,63919.0,51372.0,20389.0,8433.0,3140.0,4263.0,387.0,188.0,46,11
3369304,County,2021/11/20,AL,Baldwin County,42524.0,180710.0,704271.0,166657.0,169111.0,81445.0,109544.0,119063.0,39580.0,10176.0,5798.0,2231.0,666.0,46,11
3369305,County,2021/11/20,AL,Autauga County,10837.0,45032.0,197872.0,54685.0,42984.0,19267.0,22188.0,43167.0,8214.0,4232.0,2498.0,572.0,65.0,46,11

In [43]:
State_Travel_df = travel_distance_df_cleaned2.loc[travel_distance_df_cleaned2['Level'] == 'State']
State_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
887,State,2019/01/01,NV,0,753054.0,2272063.0,9139676.0,2999886.0,2181216.0,1039500.0,1378024.0,1108436.0,222837.0,93301.0,73578.0,24471.0,18427.0,0,1
888,State,2019/01/01,FL,0,4524666.0,16709556.0,55258300.0,16036792.0,14469767.0,6658624.0,7977612.0,6604304.0,2113009.0,796740.0,412224.0,95341.0,93887.0,0,1
889,State,2019/01/01,DC,0,241030.0,459278.0,3114055.0,1314825.0,833796.0,367547.0,344116.0,183744.0,42096.0,10730.0,8109.0,3476.0,5616.0,0,1
890,State,2019/01/01,DE,0,224457.0,739757.0,2420942.0,584323.0,640348.0,305441.0,370359.0,314102.0,128454.0,50542.0,22701.0,2474.0,2198.0,0,1
891,State,2019/01/01,CT,0,853894.0,2707851.0,9468961.0,2375021.0,2618933.0,1189575.0,1331356.0,1211252.0,449947.0,192960.0,56618.0,12031.0,31268.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369658,State,2021/11/20,DE,0,199997.0,773767.0,4029028.0,1203850.0,1037164.0,458600.0,565986.0,471305.0,176261.0,83127.0,29383.0,2023.0,1329.0,46,11
3369659,State,2021/11/20,ME,0,253650.0,1090562.0,5958496.0,1392742.0,1540589.0,747091.0,896189.0,936014.0,291457.0,109239.0,40197.0,2677.0,2301.0,46,11
3369660,State,2021/11/20,OK,0,866095.0,3090876.0,14471914.0,4199572.0,3471119.0,1746952.0,1964307.0,1885427.0,654502.0,344348.0,174505.0,22229.0,8953.0,46,11
3369661,State,2021/11/20,WI,0,1085326.0,4737108.0,27585379.0,8535783.0,6859041.0,3122433.0,3544719.0,3372694.0,1269962.0,560103.0,273677.0,31731.0,15236.0,46,11
3369662,State,2021/11/20,WV,0,365402.0,1426745.0,6756212.0,1612983.0,1632230.0,774755.0,974990.0,964156.0,435418.0,261359.0,89457.0,8832.0,2032.0,46,11

In [73]:
MA_Travel_df = State_Travel_df.loc[State_Travel_df['State Postal Code'] == 'MA']
MA_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
929,State,2019/01/01,MA,0,1798521.0,5082532.0,22181890.0,6078316.0,5980407.0,2680470.0,3106759.0,2817590.0,1021091.0,316642.0,104691.0,18791.0,57133.0,0,1
962,State,2019/01/02,MA,0,1408154.0,5472899.0,28125611.0,7237304.0,7219021.0,3438621.0,4122162.0,4178675.0,1413952.0,336420.0,106300.0,21239.0,51917.0,0,1
1017,State,2019/01/03,MA,0,1442723.0,5438330.0,28117808.0,7265580.0,7161397.0,3444979.0,4128933.0,4217732.0,1391118.0,329791.0,102938.0,21196.0,54144.0,0,1
1076,State,2019/01/04,MA,0,1440797.0,5440256.0,28630786.0,7165246.0,7391199.0,3582607.0,4284623.0,4259228.0,1404307.0,347550.0,115732.0,24146.0,56148.0,0,1
1092,State,2019/01/05,MA,0,1499659.0,5381394.0,28083625.0,7070600.0,7527639.0,3584861.0,4206453.0,3890073.0,1276922.0,350908.0,109370.0,20830.0,45969.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369423,State,2021/11/16,MA,0,1504573.0,5387930.0,38884361.0,12390982.0,10102865.0,4323849.0,5122101.0,4935413.0,1510177.0,380683.0,82866.0,11105.0,24320.0,46,11
3369481,State,2021/11/17,MA,0,1506793.0,5385710.0,39764095.0,12670393.0,10472242.0,4405903.0,5166207.0,4989488.0,1540707.0,397405.0,85295.0,11659.0,24796.0,46,11
3369554,State,2021/11/18,MA,0,1546138.0,5346365.0,36474044.0,11364672.0,9423440.0,4053506.0,4899099.0,4760592.0,1477790.0,379940.0,80847.0,10571.0,23587.0,46,11
3369599,State,2021/11/19,MA,0,1505277.0,5387226.0,38884344.0,12109200.0,10150244.0,4351377.0,5203559.0,4971759.0,1522358.0,422447.0,113072.0,14053.0,26275.0,46,11
3369652,State,2021/11/20,MA,0,1528278.0,5364225.0,35672621.0,11257650.0,9370625.0,4001393.0,4659007.0,4355699.0,1411619.0,470157.0,110383.0,12303.0,23785.0,46,11

In [74]:
MA_County_Travel_df = County_Travel_df.loc[County_Travel_df['State Postal Code'] == 'MA']
MA_County_Travel_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
46302,County,2019/01/01,MA,Barnstable County,53475.0,159515.0,705244.0,175638.0,190704.0,94817.0,115479.0,82692.0,21815.0,17016.0,4754.0,678.0,1651.0,0,1
46303,County,2019/01/01,MA,Berkshire County,36896.0,88048.0,368559.0,90691.0,112628.0,49392.0,48926.0,42353.0,13575.0,6911.0,2783.0,343.0,957.0,0,1
46304,County,2019/01/01,MA,Bristol County,131116.0,434101.0,1935282.0,486151.0,510317.0,247813.0,258738.0,282266.0,106311.0,33658.0,6262.0,1152.0,2614.0,0,1
46305,County,2019/01/01,MA,Dukes County,4445.0,12887.0,54918.0,13118.0,17828.0,7528.0,10320.0,3438.0,1204.0,805.0,531.0,32.0,114.0,0,1
46306,County,2019/01/01,MA,Essex County,206991.0,582043.0,2545997.0,717552.0,710218.0,308116.0,338807.0,301835.0,122824.0,29109.0,10678.0,2021.0,4837.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3367348,County,2021/11/20,MA,Nantucket County,2167.0,9232.0,63346.0,23697.0,24746.0,6765.0,5434.0,407.0,1954.0,188.0,73.0,13.0,69.0,46,11
3367349,County,2021/11/20,MA,Norfolk County,159149.0,547626.0,3359898.0,1035872.0,881829.0,336401.0,465435.0,472164.0,118868.0,35512.0,10195.0,1171.0,2451.0,46,11
3367350,County,2021/11/20,MA,Plymouth County,97883.0,423319.0,2776186.0,822891.0,673280.0,313981.0,397115.0,376596.0,151477.0,33055.0,5682.0,579.0,1530.0,46,11
3367351,County,2021/11/20,MA,Suffolk County,203375.0,600532.0,3574919.0,1249405.0,905473.0,477534.0,522996.0,281224.0,85122.0,36023.0,11514.0,1356.0,4272.0,46,11
3367352,County,2021/11/20,MA,Worcester County,157720.0,672902.0,4597317.0,1372564.0,1190168.0,489306.0,583221.0,652482.0,226356.0,68463.0,12229.0,905.0,1623.0,46,11

In [75]:
csv_file_2 = "Resources/US_Accidents_Dec20_updated.csv"
US_Accidents_df = pd.read_csv(csv_file_2)
US_Accidents_df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2716600,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.10891,-83.09286,40.11206,-83.03187,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2716601,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.86542,-84.06280,39.86501,-84.04873,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-2716602,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10266,-84.52468,39.10209,-84.52396,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-2716603,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10148,-84.52341,39.09841,-84.52241,0.219,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
4,A-2716604,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.06213,-81.53784,41.06217,-81.53547,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day

In [76]:
US_Accidents_df2= US_Accidents_df['Start_Time'].str.split(" ", n = -1, expand = True)
US_Accidents_df2

                  0         1
0        2016-02-08  00:37:08
1        2016-02-08  05:56:20
2        2016-02-08  06:15:39
3        2016-02-08  06:15:39
4        2016-02-08  06:51:45
...             ...       ...
1516059  2019-08-23  18:03:25
1516060  2019-08-23  19:11:30
1516061  2019-08-23  19:00:21
1516062  2019-08-23  19:00:21
1516063  2019-08-23  18:52:06

[1516064 rows x 2 columns]

In [77]:
US_Accidents_df2.columns=['Date', 'Time']
US_Accidents_df2

               Date      Time
0        2016-02-08  00:37:08
1        2016-02-08  05:56:20
2        2016-02-08  06:15:39
3        2016-02-08  06:15:39
4        2016-02-08  06:51:45
...             ...       ...
1516059  2019-08-23  18:03:25
1516060  2019-08-23  19:11:30
1516061  2019-08-23  19:00:21
1516062  2019-08-23  19:00:21
1516063  2019-08-23  18:52:06

[1516064 rows x 2 columns]

In [78]:
US_Accidents_merged_df = US_Accidents_df2.join(US_Accidents_df)
US_Accidents_merged_df

,Date,Time,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,2016-02-08,00:37:08,A-2716600,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.10891,-83.09286,40.11206,-83.03187,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2016-02-08,05:56:20,A-2716601,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.86542,-84.06280,39.86501,-84.04873,...,False,False,False,False,False,False,Night,Night,Night,Night
2,2016-02-08,06:15:39,A-2716602,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10266,-84.52468,39.10209,-84.52396,...,False,False,False,False,False,False,Night,Night,Night,Day
3,2016-02-08,06:15:39,A-2716603,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10148,-84.52341,39.09841,-84.52241,...,False,False,False,False,False,False,Night,Night,Night,Day
4,2016-02-08,06:51:45,A-2716604,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.06213,-81.53784,41.06217,-81.53547,...,False,False,False,False,False,False,Night,Night,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516059,2019-08-23,18:03:25,A-4239402,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.00248,-117.37936,33.99888,-117.37094,...,False,False,False,False,False,False,Day,Day,Day,Day
1516060,2019-08-23,19:11:30,A-4239403,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.76696,-117.14806,32.76555,-117.15363,...,False,False,False,False,False,False,Day,Day,Day,Day
1516061,2019-08-23,19:00:21,A-4239404,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.77545,-117.84779,33.77740,-117.85727,...,False,False,False,False,False,False,Day,Day,Day,Day
1516062,2019-08-23,19:00:21,A-4239405,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.99246,-118.40302,33.98311,-118.39565,...,False,False,False,False,False,False,Day,Day,Day,Day
1516063,2019-08-23,18:52:06,A-4239406,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.13393,-117.23092,34.13736,-117.23934,...,False,False,False,False,False,False,Day,Day,Day,Day

In [88]:
US_Accidents_merged_df2 = US_Accidents_merged_df.drop(['Start_Time','End_Time','Start_Lat','Start_Lng','End_Lat','End_Lng','Airport_Code','Weather_Timestamp','Country','Timezone'], axis=1)
US_Accidents_merged_df2.head()

,Date,Time,ID,Severity,Distance(mi),Description,Number,Street,Side,City,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,2016-02-08,00:37:08,A-2716600,3,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,NaN,Outerbelt E,R,Dublin,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2016-02-08,05:56:20,A-2716601,2,0.747,At OH-4/OH-235/Exit 41 - Accident.,NaN,I-70 E,R,Dayton,...,False,False,False,False,False,False,Night,Night,Night,Night
2,2016-02-08,06:15:39,A-2716602,2,0.055,At I-71/US-50/Exit 1 - Accident.,NaN,I-75 S,R,Cincinnati,...,False,False,False,False,False,False,Night,Night,Night,Day
3,2016-02-08,06:15:39,A-2716603,2,0.219,At I-71/US-50/Exit 1 - Accident.,NaN,US-50 E,R,Cincinnati,...,False,False,False,False,False,False,Night,Night,Night,Day
4,2016-02-08,06:51:45,A-2716604,2,0.123,At Dart Ave/Exit 21 - Accident.,NaN,I-77 N,R,Akron,...,False,False,False,False,False,False,Night,Night,Day,Day

In [89]:
US_Accidents_merged_df2_cleaned = US_Accidents_merged_df2.fillna(0)
US_Accidents_merged_df2_cleaned.head()

,Date,Time,ID,Severity,Distance(mi),Description,Number,Street,Side,City,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,2016-02-08,00:37:08,A-2716600,3,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,0.0,Outerbelt E,R,Dublin,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2016-02-08,05:56:20,A-2716601,2,0.747,At OH-4/OH-235/Exit 41 - Accident.,0.0,I-70 E,R,Dayton,...,False,False,False,False,False,False,Night,Night,Night,Night
2,2016-02-08,06:15:39,A-2716602,2,0.055,At I-71/US-50/Exit 1 - Accident.,0.0,I-75 S,R,Cincinnati,...,False,False,False,False,False,False,Night,Night,Night,Day
3,2016-02-08,06:15:39,A-2716603,2,0.219,At I-71/US-50/Exit 1 - Accident.,0.0,US-50 E,R,Cincinnati,...,False,False,False,False,False,False,Night,Night,Night,Day
4,2016-02-08,06:51:45,A-2716604,2,0.123,At Dart Ave/Exit 21 - Accident.,0.0,I-77 N,R,Akron,...,False,False,False,False,False,False,Night,Night,Day,Day

In [93]:
US_Accidents_merged_df3_cleaned = US_Accidents_merged_df2_cleaned.rename(columns={"Number": "Street Number",})
US_Accidents_merged_df3_cleaned

,Date,Time,ID,Severity,Distance(mi),Description,Street Number,Street,Side,City,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,2016-02-08,00:37:08,A-2716600,3,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,0.0,Outerbelt E,R,Dublin,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2016-02-08,05:56:20,A-2716601,2,0.747,At OH-4/OH-235/Exit 41 - Accident.,0.0,I-70 E,R,Dayton,...,False,False,False,False,False,False,Night,Night,Night,Night
2,2016-02-08,06:15:39,A-2716602,2,0.055,At I-71/US-50/Exit 1 - Accident.,0.0,I-75 S,R,Cincinnati,...,False,False,False,False,False,False,Night,Night,Night,Day
3,2016-02-08,06:15:39,A-2716603,2,0.219,At I-71/US-50/Exit 1 - Accident.,0.0,US-50 E,R,Cincinnati,...,False,False,False,False,False,False,Night,Night,Night,Day
4,2016-02-08,06:51:45,A-2716604,2,0.123,At Dart Ave/Exit 21 - Accident.,0.0,I-77 N,R,Akron,...,False,False,False,False,False,False,Night,Night,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516059,2019-08-23,18:03:25,A-4239402,2,0.543,At Market St - Accident.,0.0,Pomona Fwy E,R,Riverside,...,False,False,False,False,False,False,Day,Day,Day,Day
1516060,2019-08-23,19:11:30,A-4239403,2,0.338,At Camino Del Rio/Mission Center Rd - Accident.,0.0,I-8 W,R,San Diego,...,False,False,False,False,False,False,Day,Day,Day,Day
1516061,2019-08-23,19:00:21,A-4239404,2,0.561,At Glassell St/Grand Ave - Accident. in the ri...,0.0,Garden Grove Fwy,R,Orange,...,False,False,False,False,False,False,Day,Day,Day,Day
1516062,2019-08-23,19:00:21,A-4239405,2,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,0.0,San Diego Fwy S,R,Culver City,...,False,False,False,False,False,False,Day,Day,Day,Day
1516063,2019-08-23,18:52:06,A-4239406,2,0.537,At Highland Ave/Arden Ave - Accident.,0.0,CA-210 W,R,Highland,...,False,False,False,False,False,False,Day,Day,Day,Day

In [94]:
MA_Accidents_df = US_Accidents_merged_df3_cleaned.loc[US_Accidents_merged_df3_cleaned['State']  == 'MA']
MA_Accidents_df

,Date,Time,ID,Severity,Distance(mi),Description,Street Number,Street,Side,City,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
32599,2016-11-30,17:51:24,A-2749199,2,0.607,At Gould Rd - Accident.,422.0,S Main St,L,Andover,...,False,False,False,False,False,False,Night,Night,Night,Day
32601,2016-11-30,17:51:24,A-2749201,2,0.607,At Rattlesnake Hill Rd - Accident.,12.0,Gould Rd,L,Andover,...,False,False,False,False,False,False,Night,Night,Night,Day
32978,2016-12-01,15:27:49,A-2749578,2,0.715,At I-90/Mass Pike/Exit 23 - Accident.,0.0,MA-128 S,R,Weston,...,False,False,False,False,False,False,Day,Day,Day,Day
33246,2016-12-02,08:16:53,A-2749846,2,0.242,At Treble Cove Rd/Exit 28 - Accident.,0.0,US-3 S,R,North Billerica,...,False,False,False,False,False,False,Day,Day,Day,Day
33252,2016-12-02,08:32:02,A-2749852,2,0.111,At Newtown Rd/Exit 41 - Accident.,0.0,MA-2 E,R,Littleton,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1514572,2019-08-21,18:01:55,A-4237915,2,0.418,At RT-2A/Marrett Rd/Exit 30 - Accident.,0.0,MA-128 S,R,Lexington,...,False,False,False,False,False,False,Day,Day,Day,Day
1515106,2019-08-22,08:41:32,A-4238449,2,0.327,At RT-28/NB Exit 28/SB Exit 26A - Accident.,0.0,I-93 S,R,Charlestown,...,False,False,False,False,False,False,Day,Day,Day,Day
1515647,2019-08-23,21:40:04,A-4238990,2,0.163,Between RT-62/Exit 22 and Trask Ln/Exit 21 - A...,0.0,MA-128 N,R,Danvers,...,False,False,False,False,False,False,Night,Night,Night,Night
1515653,2019-08-23,16:22:17,A-4238996,2,0.442,At RT-27/Exit 18 - Accident.,0.0,MA-24 S,R,Brockton,...,False,False,False,False,False,False,Day,Day,Day,Day
1515663,2019-08-23,19:12:21,A-4239006,2,0.545,Between RT-12/Exit 6 and RT-117/Exit 7 - Accid...,0.0,I-190 N,R,Sterling,...,False,False,False,False,False,False,Day,Day,Day,Day

In [95]:
list(MA_Accidents_df.columns)

['Date',
 'Time',
 'ID',
 'Severity',
 'Distance(mi)',
 'Description',
 'Street Number',
 'Street',
 'Side',
 'City',
 'County',
 'State',
 'Zipcode',
 'Temperature(F)',
 'Wind_Chill(F)',
 'Humidity(%)',
 'Pressure(in)',
 'Visibility(mi)',
 'Wind_Direction',
 'Wind_Speed(mph)',
 'Precipitation(in)',
 'Weather_Condition',
 'Amenity',
 'Bump',
 'Crossing',
 'Give_Way',
 'Junction',
 'No_Exit',
 'Railway',
 'Roundabout',
 'Station',
 'Stop',
 'Traffic_Calming',
 'Traffic_Signal',
 'Turning_Loop',
 'Sunrise_Sunset',
 'Civil_Twilight',
 'Nautical_Twilight',
 'Astronomical_Twilight']

In [68]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/trips_vs_accidents_db')
connection = engine.connect()

In [69]:
engine.table_names()

<ipython-input-69-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['US_Accidents']

In [70]:
National_Travel_df.to_sql(name='national_trips', con=engine, if_exists='append', index=True)

In [71]:
pd.read_sql_query('select * from national_trips', con=engine).head()

,index,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
0,0,National,2019/01/01,0,0,77433867.0,248733553.0,8.977844e+08,241667151.0,234284795.0,108078903.0,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,0,1
1,1,National,2019/01/02,0,0,61305201.0,264862219.0,1.139452e+09,291276735.0,285887315.0,138039296.0,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,0,1
2,2,National,2019/01/03,0,0,63050480.0,263116940.0,1.162753e+09,296375014.0,290074425.0,140771581.0,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,0,1
3,3,National,2019/01/04,0,0,61803652.0,264363768.0,1.181954e+09,293159631.0,295643296.0,145251819.0,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,0,1
4,4,National,2019/01/05,0,0,64389745.0,261777675.0,1.180477e+09,295459014.0,304168709.0,148540651.0,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,0,1

In [72]:
State_Travel_df.to_sql(name='state_trips', con=engine, if_exists='append', index=True)

In [ ]:
pd.read_sql_query('select * from state_trips', con=engine).head()

In [61]:
US_Accidents_merged_df2_cleaned.to_sql(name='US_Accidents', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "national_trips" does not exist
LINE 1: select * from  National_Trips
                       ^

[SQL: select * from  National_Trips]
(Background on this error at: http://sqlalche.me/e/14/f405)